openapi: 3.2.0
info:
  title: h2oGPTe REST Collections API
  description: "\n# Overview \n\nUsers can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.\n\n## Authorization: Getting an API key\n\nSign up/in at Enterprise h2oGPTe and generate one of the following two types of API keys: \n\n- **Global API key**: If a Collection is not specified when creating a new API Key, that key is considered to be a global API Key. Use global API Keys to grant full user impersonation and system-wide access to all of your work. Anyone with access to one of your global API Keys can create, delete, or interact with any of your past, current, and future Collections, Documents, Chats, and settings.\n\n- **Collection-specific API key**: Use Collection-specific API Keys to grant external access to only Chat with a specified Collection and make related API calls to it. Collection-specific API keys do not allow other API calls, such as creation, deletion, or access to other Collections or Chats.\n \nAccess Enterprise h2oGPTe through your [H2O Generative AI](https://genai.h2o.ai/appstore) app store account, available with a freemium tier.\n\n## Authorization: Using an API key \n\nAll h2oGPTe REST API requests must include an API Key in the \"Authorization\" HTTP header, formatted as follows:\n\n```\nAuthorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\n```\n\n```sh\ncurl -X 'POST' \\\n  'https://h2ogpte.genai.h2o.ai/api/v1/collections' \\\n  -H 'accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' \\\n  -d '{\n    \"name\": \"The name of my Collection\",\n    \"description\": \"The description of my Collection\",\n    \"embedding_model\": \"BAAI/bge-large-en-v1.5\"\n  }'\n```\n    \n## Interactive h2oGPTe API testing\n\nThis page only showcases the h2oGPTe REST API; you can test it directly in the [Swagger UI](https://h2ogpte.genai.h2o.ai/swagger-ui/). Ensure that you are logged into your Enterprise h2oGPTe account.\n"
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Collections
paths:
  /collections:
    post:
      operationId: create_collection
      summary: Create a Collection
      description: A Collection refers to a group of related Documents. A Collection lets a user aggregate documents in one location. A user can utilize Collections to group particular sets of material (documents) to explore individually through Chats utilizing a large language model (LLM).
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    get:
      operationId: list_collections
      summary: List collections.
      description: List collections for a given user. If sort_column is not specified, the output is sorted by by last update time in descending order.
      tags:
      - Collections
      parameters:
      - name: offset
        in: query
        description: How many collections to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many collections to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: sort_column
        in: query
        description: Sort column.
        required: false
        schema:
          type: string
          enum:
          - name
          - document_count
          - document_size
          - updated_at
          - sessions_count
          default: updated_at
      - name: ascending
        in: query
        description: When true, returns sorted by sort_column in ascending order.
        required: false
        schema:
          type: boolean
          default: false
      - name: metadata_filter
        in: query
        description: Only returns collections with metadata matching this filter.
        required: false
        schema:
          type: string
      - name: name_filter
        in: query
        description: Only returns collections with names matching this filter.
        required: false
        schema:
          type: string
      - name: current_user_only
        in: query
        description: When true, will only return the user owned collections.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/all:
    get:
      operationId: list_all_collections
      summary: Fetches all users' collection metadata sorted by last update time by default.
      description: Fetches all users' collection metadata sorted by last update time by default. This is for admin use only and includes private, public, and shared collections in the result.
      tags:
      - Collections
      parameters:
      - name: offset
        in: query
        description: How many collections to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many collections to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: sort_column
        in: query
        description: Sort column.
        required: false
        schema:
          type: string
          enum:
          - name
          - document_count
          - document_size
          - updated_at
          - sessions_count
          - username
          - expiry_date
          - status
          - inactivity_interval
          - archived_at
          default: updated_at
      - name: ascending
        in: query
        description: When true, returns sorted by sort_column in ascending order.
        required: false
        schema:
          type: boolean
          default: false
      - name: filter
        in: query
        description: Filter collections by name, ID, or username.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/count:
    get:
      operationId: get_collection_count
      summary: Counts a number of collections.
      description: Counts a number of collections.
      tags:
      - Collections
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}:
    get:
      tags:
      - Collections
      summary: Get a Collection
      description: A user can obtain a Collection by specifying its ID.
      operationId: get_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Deletes collection.
      description: Deletes collection with a given unique identifier.
      operationId: delete_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to delete
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      tags:
      - Collections
      summary: Updates attributes of an existing collection.
      description: Updates of an existing collection, particularly name and description.
      operationId: update_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to to be updated
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/{chunk_ids}:
    get:
      tags:
      - Collections
      summary: Returns specific chunks in a collection.
      description: Returns specific chunks in a collection.
      operationId: get_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to search in
        required: true
        schema:
          type: string
      - name: chunk_ids
        in: path
        description: List of ids for the chunks to return. Chunks are indexed starting at 1.
        required: true
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chunk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/match:
    post:
      tags:
      - Collections
      summary: Finds chunks related to a message using semantic search.
      description: 'Finds chunks related to a message using semantic search.

        Chunks are sorted by relevance and similarity score to the message.

        '
      operationId: match_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to search within.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - vectors
              - topics
              properties:
                vectors:
                  description: A list of vectorized message for running semantic search.
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                      format: double
                topics:
                  description: A list of document_ids used to filter which documents in the collection to search.
                  type: array
                  items:
                    type: string
                offset:
                  description: How many chunks to skip before returning chunks.
                  type: integer
                  default: 0
                limit:
                  description: How many chunks to return.
                  type: integer
                  default: 100
                cut_off:
                  description: Exclude matches with distances higher than this cut off.
                  type: number
                  format: double
                  default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChunkSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/search:
    post:
      tags:
      - Collections
      summary: Finds chunks related to a message using lexical search.
      description: 'Finds chunks related to a message using lexical search.

        Chunks are sorted by relevance and similarity score to the message.

        '
      operationId: search_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to search within.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              - topics
              properties:
                query:
                  description: Question or imperative from the end user to search a collection for.
                  type: string
                topics:
                  description: A list of document_ids used to filter which documents in the collection to search.
                  type: array
                  items:
                    type: string
                offset:
                  description: How many chunks to skip before returning chunks.
                  type: integer
                  default: 0
                limit:
                  description: How many chunks to return.
                  type: integer
                  default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChunkSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/delete_job:
    post:
      tags:
      - Collections
      summary: Creates a job to delete collections.
      description: Creates a job to delete collections with a given unique identifier.
      operationId: create_delete_collection_job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCollectionsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/reset_all_collection_expirations:
    post:
      operationId: reset_all_collection_expirations
      summary: Reset all collection expiry dates and inactivity intervals that have been set.
      description: Reset any expiry dates and inactivity intervals that have been set for all collections (admin only). This will also reset any archived collections back to active.
      tags:
      - Collections
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/prompt_template:
    put:
      tags:
      - Collections
      summary: Updates a prompt template reference of a collection.
      description: Updates a prompt template reference of a collection.
      operationId: update_collection_prompt_template
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptTemplateChangeRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes a prompt template reference from the collection.
      description: Removes a prompt template reference from the collection.
      operationId: delete_collection_prompt_template
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/expiry_date:
    put:
      tags:
      - Collections
      summary: Updates an expiry date of a collection.
      description: Updates an expiry date of a collection.
      operationId: update_collection_expiry_date
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - expiry_date
              properties:
                expiry_date:
                  description: The expiry date.
                  type: string
                  format: date
                timezone:
                  description: Optional timezone to associate with the expiry date (with IANA timezone support).
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes an expiry date from a collection.
      description: Removes an expiry date from a collection.
      operationId: delete_collection_expiry_date
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/inactivity_interval:
    put:
      tags:
      - Collections
      summary: Updates an inactivity interval of a collection.
      description: Updates an inactivity interval of a collection.
      operationId: update_collection_inactivity_interval
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - inactivity_interval
              properties:
                inactivity_interval:
                  description: The inactivity interval as an integer number of days.
                  type: integer
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes an inactivity interval from the collection.
      description: Removes an inactivity interval from the collection.
      operationId: delete_collection_inactivity_interval
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/workspace:
    put:
      tags:
      - Collections
      summary: Updates the workspace associated with a collection.
      description: Updates the workspace associated with a collection as well as the chats belonging to the collection.
      operationId: update_collection_workspace
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workspace
              properties:
                workspace:
                  description: The name of the workspace to be associated with the collection.
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/archive:
    post:
      tags:
      - Collections
      summary: Archives a collection along with its associated data.
      description: Archives a collection along with its associated data.
      operationId: archive_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/unarchive:
    post:
      tags:
      - Collections
      summary: Restores an archived collection to an active status.
      description: Restores an archived collection to an active status.
      operationId: unarchive_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/size_limit:
    put:
      tags:
      - Collections
      summary: Sets a maximum limit on the total size of documents (sum) added to a collection.
      description: Sets a maximum limit on the total size of documents (sum) added to a collection. The limit is measured in bytes.
      operationId: set_collection_size_limit
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - size_limit
              properties:
                size_limit:
                  description: The bytes limit
                  example: 12345, 1GB, 1GiB
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes a size limit for a collection.
      description: Removes a size limit for a collection.
      operationId: remove_collection_size_limit
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/is_public:
    post:
      tags:
      - Collections
      summary: Updates a flag specifying whether a collection is private or public.
      description: Updates a flag specifying whether a collection is private or public.
      operationId: update_collection_privacy
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - is_public
              properties:
                is_public:
                  description: A flag specifying whether a collection is private or public.
                  type: boolean
                permissions:
                  type: array
                  description: Collection specific permissions, only used if is_public is true.
                  items:
                    type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/settings:
    get:
      operationId: get_collection_settings
      summary: Fetches collection settings.
      description: Returns details of collection settings
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with the settings
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_settings
      summary: Updates collection settings.
      description: Recreates entire settings on the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionSettings'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/prompt_settings:
    delete:
      operationId: reset_collection_prompt_settings
      summary: Resets the prompt settings for a given collection.
      description: Resets the prompt settings for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/metadata:
    get:
      operationId: get_collection_metadata
      summary: Fetches collection metadata.
      description: Returns details of collection metadata.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with metadata.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_metadata
      summary: Updates collection metadata.
      description: Recreates entire metadata of the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/thumbnail:
    put:
      operationId: update_collection_thumbnail
      summary: Updates collection thumbnail.
      description: Uploads a new thumbnail image for the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_collection_thumbnail
      summary: Deletes collection thumbnail.
      description: Deletes collection thumbnail image.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/thumbnail/job:
    put:
      operationId: create_update_collection_thumbnail_job
      summary: Creates a job to update collection thumbnail.
      description: Creates a job to update a new thumbnail image for the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: create_delete_collection_thumbnail_job
      summary: Creates a job to delete collection thumbnail.
      description: Creates a job to delete collection thumbnail image.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chat_settings:
    get:
      operationId: get_collection_chat_settings
      summary: Fetches collection chat settings.
      description: Returns details of collection chat settings
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with the chat settings
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_chat_settings
      summary: Updates collection chat settings.
      description: Recreates entire chat settings on the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSettings'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents:
    get:
      operationId: list_documents_for_collection
      summary: List a Collection's documents
      description: A user can list a Collection's documents.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: This parameter refers to the unique identifier ( ID) of the Collection to filter results.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: This parameter refers to the number of documents to skip before retrieving results.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: This parameter refers to the maximum number of documents to return in the result set.
        required: false
        schema:
          type: integer
          default: 100
      - name: metadata_filter
        in: query
        description: String containing metadata json dict to filter documents by metadata.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/{document_id}:
    put:
      operationId: insert_document_into_collection
      summary: Import an already stored document to an existing collection.
      description: Import an already stored document to an existing collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      - name: document_id
        in: path
        description: Id of the document to be inserted.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_document_from_collection
      summary: Removes the document from the collection.
      description: Removes the document from the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      - name: document_id
        in: path
        description: Id of the document to be removed.
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/insert_job:
    post:
      operationId: create_insert_document_to_collection_job
      summary: Creates job to insert document to the collection.
      description: Creates job to insert document to the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection where the document will be inserted into.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  description: Id of the document to be inserted.
                  type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/delete_job:
    post:
      operationId: create_delete_document_from_collection_job
      summary: Creates job to remove documents from the collection.
      description: Creates job to remove documents from the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/count:
    get:
      operationId: get_document_count_for_collection
      summary: Counts a number of documents in the collection.
      description: Counts a number of documents in the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chats:
    get:
      operationId: list_chat_sessions_for_collection
      summary: List chat sessions for a given collection.
      description: List chat sessions for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many chat sessions to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many chat sessions to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: username
        in: query
        description: Filter chat sessions by owner username.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chats/count:
    get:
      operationId: get_chat_session_count_for_collection
      summary: Counts a number of chat sessions with the collection.
      description: Counts a number of chat sessions with the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/questions:
    get:
      operationId: list_questions_for_collection
      summary: List suggested questions for a given collection.
      description: List suggested questions for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: How many questions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuggestedQuestion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/permissions:
    get:
      tags:
      - Collections
      summary: Returns a list of access permissions for a given collection.
      description: The returned list of permissions denotes who has access to the collection.
      operationId: get_collection_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to all other users except the original owner.
      description: Removes sharing of a collection to all other users except the original owner.
      operationId: unshare_collection_for_all
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/group_permissions:
    get:
      tags:
      - Collections
      summary: Returns a list of group access permissions for a given collection.
      description: The returned list of group permissions denoting which groups have access to the collection.
      operationId: get_collection_group_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/public_permissions:
    get:
      tags:
      - Collections
      summary: Returns the public permissions for a given collection.
      description: Returns the list of public permissions for a collection. Returns an empty array if the collection is not public or has no permissions.
      operationId: list_collection_public_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns list of permissions.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/permissions/{username}:
    put:
      tags:
      - Collections
      summary: Shares a collection to a user.
      description: Shares a collection template to a user.
      operationId: share_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will obtain access to the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCollectionRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to a user.
      description: Removes sharing of a collection to a user.
      operationId: unshare_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will lose access to the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/group_permissions/{group_id}:
    put:
      tags:
      - Collections
      summary: Shares a collection to a group.
      description: Shares a collection to a group. The permission attribute defines the level of access, and which group can access the collection, the collection_id attribute denotes the collection to be shared.
      operationId: share_collection_with_group
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will obtain access to the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCollectionRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to a user.
      description: Removes sharing of a collection to a user.
      operationId: unshare_collection_from_group
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will lose access to the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/import_collection_job:
    post:
      operationId: create_import_collection_to_collection_job
      summary: Creates job to import collection to the collection.
      description: Creates job to import collection to the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the destination collection.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/MigrateScheduledConnectors'
      - $ref: '#/components/parameters/CopyLifecycleSettings'
      - $ref: '#/components/parameters/SkipReparse'
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveDocumentStatus'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - source_collection_id
              properties:
                source_collection_id:
                  description: Id of the collection to be inserted.
                  type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/scheduled_connectors:
    get:
      operationId: list_scheduled_connectors_for_collection
      summary: List scheduled connectors for a collection
      description: Returns a list of all scheduled connectors configured for the specified collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: Collection ID to list scheduled connectors for
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledConnectorDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/migrate_scheduled_connectors:
    post:
      operationId: migrate_scheduled_connectors_to_collection
      summary: Migrate scheduled connectors from another collection
      description: Moves all scheduled connectors from a source collection to the target collection. The source collection will have no scheduled connectors after this operation. Both collections must be owned by the same user.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: Target collection ID where scheduled connectors will be copied to
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - src_collection_id
              properties:
                src_collection_id:
                  type: string
                  description: Source collection ID to copy scheduled connectors from
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/migrate_chat_sessions_job:
    post:
      operationId: create_migrate_collection_chat_sessions_job
      summary: Creates a job to migrate all chat sessions from one collection to another.
      description: Creates a job to migrate all chat sessions from the source collection (specified in path) to the destination collection (specified in request body). Only the collection owner can perform this operation.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the source collection (where chat sessions will be migrated from).
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateCollectionChatSessionsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  schemas:
    ScheduledConnectorDetails:
      required:
      - id
      - user_id
      - collection_id
      - type
      - schedule
      - created_at
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the connector
        user_id:
          type: string
          description: ID of the user who owns the connector
        user_name:
          type: string
          description: Name of the user who owns the connector
        user_email:
          type: string
          description: Email of the user who owns the connector
        collection_id:
          type: string
          description: ID of the collection this connector is associated with
        collection_name:
          type: string
          description: Name of the collection this connector is associated with
        type:
          type: string
          description: Type of connector (e.g., s3, confluence)
        config:
          type: object
          description: Configuration details for the connector
        schedule:
          type: integer
          description: Schedule interval in seconds (0 means no schedule)
        last_sync_status:
          type: string
          description: Status of the last sync
        last_sync_job_id:
          type: string
          description: ID of the last sync job
        last_sync_at:
          type: string
          format: date-time
          description: Timestamp of the last sync
        last_sync_error:
          type: string
          description: Error message from the last sync (if any)
        created_at:
          type: string
          format: date-time
          description: Timestamp when the connector was created
    GroupSharePermission:
      required:
      - group_id
      type: object
      properties:
        group_id:
          type: string
        permissions:
          type: array
          items:
            type: string
    CollectionUpdateRequest:
      type: object
      properties:
        name:
          description: Name of the collection
          type: string
        description:
          description: Description of the collection
          type: string
        rag_type:
          description: "RAG type options:\n  * `auto` - Automatically select the best rag_type.\n  * `llm_only` LLM Only - Answer the query without any supporting document contexts.\n  Requires 1 LLM call.\n  * `rag` RAG (Retrieval Augmented Generation) - Use supporting document contexts\n  to answer the query. Requires 1 LLM call.\n  * `hyde1` LLM Only + RAG composite - HyDE RAG (Hypothetical Document Embedding).\n  Use 'LLM Only' response to find relevant contexts from a collection for generating\n  a response. Requires 2 LLM calls.\n  * `hyde2` HyDE + RAG composite - Use the 'HyDE RAG' response to find relevant\n  contexts from a collection for generating a response. Requires 3 LLM calls.\n  * `rag+` Summary RAG - Like RAG, but uses more context and recursive\n  summarization to overcome LLM context limits. Keeps all retrieved chunks, puts\n  them in order, adds neighboring chunks, then uses the summary API to get the\n  answer. Can require several LLM calls.\n  * `all_data` All Data RAG - Like Summary RAG, but includes all document\n  chunks. Uses recursive summarization to overcome LLM context limits.\n  Can require several LLM calls.\n"
          type: string
          enum:
          - auto
          - llm_only
          - rag
          - hyde1
          - hyde2
          - rag+
          - all_data
    JobDetailsStatus:
      required:
      - id
      - status
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    ChatCompletionRAGConfig:
      type: object
      description: "A map with arguments to control RAG (retrieval-augmented-generation) types.:\n  * `rag_type` **(type=enum[auto, llm_only, rag, hyde1, hyde2, rag+, all_data])** RAG type options:\n    * `auto` - Automatically select the best rag_type.\n    * `llm_only` LLM Only - Answer the query without any supporting document contexts.\n       Requires 1 LLM call.\n    * `rag` RAG (Retrieval Augmented Generation) - Use supporting document contexts\n       to answer the query. Requires 1 LLM call.\n    * `hyde1` LLM Only + RAG composite - HyDE RAG (Hypothetical Document Embedding).\n       Use 'LLM Only' response to find relevant contexts from a collection for generating\n       a response. Requires 2 LLM calls.\n    * `hyde2` HyDE + RAG composite - Use the 'HyDE RAG' response to find relevant\n       contexts from a collection for generating a response. Requires 3 LLM calls.\n    * `rag+` Summary RAG - Like RAG, but uses more context and recursive\n       summarization to overcome LLM context limits. Keeps all retrieved chunks, puts\n       them in order, adds neighboring chunks, then uses the summary API to get the\n       answer. Can require several LLM calls.\n    * `all_data` All Data RAG - Like Summary RAG, but includes all document\n       chunks. Uses recursive summarization to overcome LLM context limits.\n       Can require several LLM calls.\n  * `hyde_no_rag_llm_prompt_extension` **(type=string, example=\\\\\\\\nKeep the answer brief, and list the 5 most relevant key words at the end.)** -\n    Add this prompt to every user's prompt, when generating answers to be used for subsequent retrieval during HyDE.\n    Only used when rag_type is `hyde1` or `hyde2`.\n  * `num_neighbor_chunks_to_include` **(type=integer, default=1)** - A number of neighboring chunks to include \n    for every retrieved relevant chunk. It helps to keep surrounding context together. Only enabled for rag_type `rag+`.\n  * `meta_data_to_include` **(type=map)** - A map with flags that indicate whether each piece of document metadata \n    is to be included as part of the context for a chat with a collection.\n    * `name` **(type: boolean, default=True)**\n    * `text` **(type: boolean, default=True)**\n    * `page` **(type: boolean, default=True)**\n    * `captions` **(type: boolean, default=True)**\n    * `uri` **(type: boolean, default=False)**\n    * `connector` **(type: boolean, default=False)**\n    * `original_mtime` **(type: boolean, default=False)**\n    * `age` **(type: boolean, default=False)**\n    * `score` **(type: boolean, default=False)**\n  * `rag_max_chunks` **(type=integer, default=-1)** - Maximum number of document chunks to retrieve for RAG.\n    Actual number depends on rag_type and admin configuration. Set to >0 values to enable. \n    Can be combined with rag_min_chunk_score.\n  * `rag_min_chunk_score` **(type=double, default=0.0)** - Minimum score of document chunks to retrieve for RAG.\n    Set to >0 values to enable. Can be combined with rag_max_chunks.\n  * `graph_rag_auto_select` **(type=boolean, default=true)** - When `rag_type` is `auto` and the collection has\n    a successfully built knowledge graph, auto-select `graph_rag` as the rag_type for the chat. Set to `false`\n    to keep auto on normal RAG even when a graph exists, e.g. when an admin wants to retain control over when\n    graph mode becomes the default.\n"
    DeleteCollectionsJobRequest:
      type: object
      required:
      - collection_ids
      properties:
        collection_ids:
          description: Ids of collections to be deleted.
          type: array
          items:
            type: string
    Collection:
      required:
      - id
      - name
      - description
      - embedding_model
      - document_count
      - document_size
      - created_at
      - updated_at
      - user_count
      - is_public
      - username
      - sessions_count
      - status
      type: object
      properties:
        id:
          description: A unique identifier of the collection
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          description: Name of the collection
          type: string
          example: My sci-fi library
        description:
          description: Description of the collection
          type: string
          example: Collection of my favourite sci-fi books
        embedding_model:
          type: string
          example: BAAI/bge-large-en-v1.5
        document_count:
          description: A number of documents in the collection
          type: integer
        document_size:
          description: Total size in bytes of all documents in the collection
          type: integer
        created_at:
          description: Time when the collection was created
          type: string
          format: date-time
        updated_at:
          description: Last time when the collection was modified
          type: string
          format: date-time
        user_count:
          description: A number of users having access to the collection
          type: integer
        is_public:
          description: Is publicly accessible
          type: boolean
        username:
          description: Name of the user owning the collection
          type: string
        sessions_count:
          description: A number of chat sessions with the collection
          type: integer
        status:
          description: Status of the collection
          type: string
        prompt_template_id:
          description: A unique identifier of a prompt template associated with the collection.
          type: string
          example: 4e400991-c459-455f-995c-dc6f55ffdb90
        thumbnail:
          description: A file name of a thumbnail image.
          type: string
        size_limit:
          description: Maximum size of data that could be contained in the collection.
          type: integer
        expiry_date:
          description: An expiry date
          type: string
          format: date-time
        inactivity_interval:
          description: The inactivity interval as an integer number of days.
          type: integer
        rag_type:
          description: "RAG type options:\n  * `auto` - Automatically select the best rag_type.\n  * `llm_only` LLM Only - Answer the query without any supporting document contexts.\n  Requires 1 LLM call.\n  * `rag` RAG (Retrieval Augmented Generation) - Use supporting document contexts\n  to answer the query. Requires 1 LLM call.\n  * `hyde1` LLM Only + RAG composite - HyDE RAG (Hypothetical Document Embedding).\n  Use 'LLM Only' response to find relevant contexts from a collection for generating\n  a response. Requires 2 LLM calls.\n  * `hyde2` HyDE + RAG composite - Use the 'HyDE RAG' response to find relevant\n  contexts from a collection for generating a response. Requires 3 LLM calls.\n  * `rag+` Summary RAG - Like RAG, but uses more context and recursive\n  summarization to overcome LLM context limits. Keeps all retrieved chunks, puts\n  them in order, adds neighboring chunks, then uses the summary API to get the\n  answer. Can require several LLM calls.\n  * `all_data` All Data RAG - Like Summary RAG, but includes all document\n  chunks. Uses recursive summarization to overcome LLM context limits.\n  Can require several LLM calls.\n"
          type: string
          enum:
          - auto
          - llm_only
          - rag
          - hyde1
          - hyde2
          - rag+
          - all_data
        metadata_dict:
          $ref: '#/components/schemas/Metadata'
        workspace:
          description: The workspace associated with the collection.
          type: string
        has_default_guardrails:
          description: Whether this collection was created with default guardrails enabled.
          type: boolean
        vex_encryption:
          description: 'The per-collection vector encryption choice that was set at creation: `enabled`, `disabled`, or null when the collection follows the server default. Read-only — cannot be changed after creation.

            '
          type:
          - string
          - 'null'
          enum:
          - enabled
          - disabled
    MigrateCollectionChatSessionsJobRequest:
      type: object
      required:
      - target_collection_id
      properties:
        target_collection_id:
          description: The UUID of the target collection to migrate chat sessions to.
          type: string
    TagFilter:
      type: object
      description: "Filter for document tags supporting inclusion and exclusion.\n\nNote: The exclude list takes priority over the include list. If a document has a tag\nthat appears in both lists, the document will be excluded.\n\nExamples:\n  - Include only documents with 'red' OR 'blue' tags: {\"include\": [\"red\", \"blue\"]}\n  - Exclude documents with 'red' OR 'blue' tags: {\"exclude\": [\"red\", \"blue\"]}\n  - Include documents with 'color' tag BUT exclude 'red' and 'blue': {\"include\": [\"color\"], \"exclude\": [\"red\", \"blue\"]}\n"
      properties:
        include:
          type: array
          items:
            type: string
          description: Include documents with ANY of these tags (OR operation).
        exclude:
          type: array
          items:
            type: string
          description: Exclude documents with ANY of these tags (OR operation). Takes priority over include.
    ChatSettings:
      type: object
      properties:
        llm:
          type: string
          description: LLM name to send the query. Use "auto" for automatic model routing, set cost_controls of llm_args for detailed control over automatic routing.
        llm_args:
          $ref: '#/components/schemas/ChatCompletionRequestLLMArgs'
        self_reflection_config:
          $ref: '#/components/schemas/ChatCompletionSelfReflectionConfig'
        rag_config:
          $ref: '#/components/schemas/ChatCompletionRAGConfig'
        include_chat_history:
          type: string
          enum:
          - 'on'
          - 'off'
          - auto
          description: Whether to include chat history. Includes previous questions and answers for the current chat session for each new chat request. Disable if require deterministic answers for a given question.
        tags:
          oneOf:
          - type: array
            items:
              type: string
          - $ref: '#/components/schemas/TagFilter'
          description: "Filter documents by tags for RAG context. Supports two formats:\n  - Array format (backward compatible): [\"red\", \"blue\"] includes documents with 'red' OR 'blue' tags\n  - Object format (with exclusions): {\"include\": [\"color\"], \"exclude\": [\"red\", \"blue\"]}\n"
    ChunkSearchResult:
      allOf:
      - $ref: '#/components/schemas/Chunk'
      - type: object
        required:
        - topic
        - score
        properties:
          topic:
            type: string
          score:
            type: number
            format: double
    SharePermission:
      required:
      - username
      type: object
      properties:
        username:
          type: string
        permissions:
          type: array
          items:
            type: string
    ChatCompletionSelfReflectionConfig:
      type: object
      description: "A map with self reflection settings:\n  * `llm_reflection` **(type=string, example=gpt-4-0613)**\n  * `prompt_reflection` **(type=string, example=\\\"\\\"\\\"Prompt:\\\\\\\\n%s\\\\\\\\n\\\"\\\"\\\"\\\\\\\\n\\\\\\\\n\\\"\\\"\\\")**\n  * `system_prompt_reflection` **(type=string)**\n  * `llm_args_reflection` **(type=string, example={})**\n"
      additionalProperties: true
    Metadata:
      type: object
      additionalProperties: true
    ChatCompletionRequestLLMArgs:
      type: object
      description: "A map of arguments sent to LLM with query.\n  * `temperature` **(type=double, default=0.0)** - A value used to modulate the next token probabilities.\n    0 is the most deterministic and 1 is most creative.\n  * `top_k` **(type=integer, default=1)** - A number of highest probability vocabulary tokens to keep for top-k-filtering.\n  * `top_p` **(type=double, default=0.0)** - If set to a value < 1, only the smallest set of most probable\n    tokens with probabilities that add up to top_p or higher are kept for generation.\n  * `seed` **(type=integer, default=0)** - A seed for the random number generator when sampling during\n     generation (if temp>0 or top_k>1 or top_p<1), seed=0 picks a random seed.\n  * `repetition_penalty` **(type=double, default=1.07)** - A parameter for repetition penalty. 1.0 means no penalty.\n  * `max_new_tokens` **(type=double, default=1024)** - A maximum number of new tokens to generate.\n    This limit applies to each (map+reduce) step during summarization and each (map) step during extraction.\n  * `min_max_new_tokens` **(type=integer, default=512)** - A minimum value for max_new_tokens when auto-adjusting for content of prompt, docs, etc.\n  * `response_format` **(type=enum[text, json_object, json_code], default=text)** - An output type of LLM\n  * `guided_json` **(type=map)** - If specified, the output will follow the JSON schema.\n  * `guided_regex` **(type=string)** - If specified, the output will follow the regex pattern.\n    Only for models that support guided generation.\n  * `guided_choice` **(type=array[string])** - If specified, the output will be exactly one of the choices.\n    Only for models that support guided generation.\n  * `guided_grammar` **(type=string)** - If specified, the output will follow the context free grammar.\n    Only for models that support guided generation.\n  * `guided_whitespace_pattern` **(type=string)** - If specified, will override the default whitespace pattern for guided json decoding.\n    Only for models that support guided generation.\n  * `enable_vision` **(type=enum[on, off, auto], default=auto)** - Controls vision mode,\n    send images to the LLM in addition to text chunks.\n  * `visible_vision_models` **(type=array[string], default=[auto])** - Controls which vision model to use when processing images.\n    Must provide exactly one model. [auto] for automatic.\n  * `images_num_max` **(type=integer, default=None)** - Maximum number of images to process.\n  * `json_preserve_system_prompt` **(type=boolean, default=None)** - Whether to preserve system prompt in JSON response.\n  * `client_metadata` **(type=string, default=None)** - Additional metadata to send with the request.\n  * `min_chars_per_yield` **(type=integer, default=1)** - Minimum characters to yield in streaming response.\n  * `reasoning_effort` **(type=integer, default=0)** - Level of reasoning effort for the model (higher values = deeper reasoning, e.g., 10000-65000).\n    Use for models that support chain-of-thought reasoning. 0 means no additional reasoning effort.\n  * `cost_controls` **(type=map)** A map with cost controls settings:\n    * `max_cost` **(type=double)** - Sets the maximum allowed cost in USD per LLM call when doing Automatic model routing.\n      If the estimated cost based on input and output token counts is higher than this limit,\n      the request will fail as early as possible.\n    * `max_cost_per_million_tokens` **(type=double)** - Only consider models that cost less than this value in USD per million tokens\n      when doing automatic routing. Using the max of input and output cost.\n    * `model` **(type=array[string])** - Optional subset of models to consider when doing automatic routing.\n      If not specified, all models are considered.\n    * `willingness_to_pay` **(type=double)** - Controls the willingness to pay extra for a more accurate model for every LLM call\n      when doing automatic routing, in units of USD per +10% increase in accuracy.\n      We start with the least accurate model. For each more accurate model,\n      we accept it if the increase in estimated cost divided by the increase in estimated accuracy\n      is no more than this value divided by 10%, up to the upper limit specified above.\n      Lower values will try to keep the cost as low as possible,\n      higher values will approach the cost limit to increase accuracy. 0 means unlimited.\n    * `willingness_to_wait` **(type=double)** - Controls the willingness to wait longer for a more accurate model for every LLM call\n      when doing automatic routing, in units of seconds per +10% increase in accuracy.\n      We start with the least accurate model. For each more accurate model,\n      we accept it if the increase in estimated time divided by the increase in estimated accuracy\n      is no more than this value divided by 10%. Lower values will try to keep the time\n      as low as possible, higher values will take longer to increase accuracy. 0 means unlimited.\n  * `use_agent` **(type=boolean, default=False)** - If True, use the AI agent (with access to tools) to generate the response.\n  * `agent_accuracy` **(type=string, default=\"standard\")** - Effort level by the agent. Only if use_agent=True. One of [\"quick\", \"basic\", \"standard\", \"maximum\"].\n  * `agent_max_turns` **(type=union[string, integer], default=\"auto\")** - Optional max. number of back-and-forth turns with the agent. Only if use_agent=True. Either \"auto\" or an integer.\n  * `agent_tools` **(type=union[string, array[string]], default=\"auto\")** - Either \"auto\", \"all\", \"any\" to enable all available tools, or a specific list of tools to use. Only if use_agent=True.\n  * `agent_type` **(type=string, default=\"auto\")** - Type of agent to use for task processing.\n  * `agent_original_files` **(type=array[string], default=None)** - List of file paths for agent to process.\n  * `agent_timeout` **(type=integer, default=None)** - Timeout in seconds for each agent turn.\n  * `agent_total_timeout` **(type=integer, default=3600)** - Total timeout in seconds for all agent processing.\n  * `agent_code_writer_system_message` **(type=string, default=None)** - System message for agent code writer.\n  * `agent_num_executable_code_blocks_limit` **(type=integer, default=1)** - Maximum number of executable code blocks.\n  * `agent_system_site_packages` **(type=boolean, default=True)** - Whether agent has access to system site packages.\n  * `agent_main_model` **(type=string, default=None)** - Main model to use for agent.\n  * `agent_max_stream_length` **(type=integer, default=None)** - Maximum stream length for agent response.\n  * `agent_max_memory_usage` **(type=integer, default=16*1024**3)** - Maximum memory usage for agent in bytes (16GB default).\n  * `agent_main_reasoning_effort` **(type=integer, default=None)** - Effort level for main reasoning.\n  * `agent_advanced_reasoning_effort` **(type=integer, default=None)** - Effort level for advanced reasoning.\n  * `agent_max_confidence_level` **(type=integer, default=None)** - Maximum confidence level for agent responses.\n  * `agent_planning_forced_mode` **(type=boolean, default=None)** - Whether to force planning mode for agent.\n  * `agent_too_soon_forced_mode` **(type=boolean, default=None)** - Whether to force \"too soon\" mode for agent.\n  * `agent_critique_forced_mode` **(type=integer, default=None)** - Whether to force critique mode for agent.\n  * `agent_query_understanding_parallel_calls` **(type=integer, default=None)** - Number of parallel calls for query understanding.\n  * `task_tracking` **(type=boolean, default=None)** - Enable task tracking for agent.\n  * `task_update_steps` **(type=integer, default=None)** - Number of steps for task update tracking (0-5, None for auto).\n  * `tool_building_mode` **(type=string, default=None)** - Mode for tool building configuration.\n  * `agent_stream_files` **(type=boolean, default=True)** - Whether to stream files from agent.\n  * `final_answer_guidelines_mode` **(type=string, default=\"auto\")** - Mode for formatting agent final answers. Only applies when use_agent=True. Options: \"auto\" (chooses detailed, may later adapt), \"detailed\" (full final answer guidelines), \"detailed_no_file_links\", \"detailed_no_image_links\", \"detailed_no_links\", \"file_template\" (use custom template), \"raw_LLM\" (bypass final answer guidelines). Available modes may vary by deployment.\n"
      additionalProperties: true
    CollectionCreateRequest:
      required:
      - name
      - description
      type: object
      properties:
        name:
          type: string
          example: My sci-fi library
        description:
          type: string
          example: Collection of my favourite sci-fi books
        embedding_model:
          type: string
          example: BAAI/bge-large-en-v1.5
        collection_settings:
          $ref: '#/components/schemas/CollectionSettings'
        chat_settings:
          $ref: '#/components/schemas/ChatSettings'
        expiry_date:
          type: string
          format: date-time
          description: Optional expiration date for the collection
          example: 2024-12-31 23:59:59+00:00
        workspace:
          type: string
        vex_encryption:
          type: string
          enum:
          - enabled
          - disabled
          description: "Per-collection vector encryption choice, honored at create time only:\n  * `enabled` — store vectors encrypted (server must have a vector\n    encryption provider configured; the collection cannot later be\n    opened on a server with no provider).\n  * `disabled` — store vectors as plaintext, even if the server has\n    encryption enabled by default.\n  * omitted — fall back to the server-level default\n    (`H2OGPTE_VEX_ENCRYPTION_ENABLED`).\nSticky once any data is written: existing collections cannot switch modes after the first write.\n"
          example: enabled
    Chunk:
      type: object
      required:
      - id
      - text
      - name
      - size
      - pages
      properties:
        text:
          description: The text represented by the chunk
          type: string
        id:
          description: The identifier of the chunk
          type: integer
        name:
          type: string
        size:
          description: The size in bytes.
          type: integer
        pages:
          type: string
    Count:
      required:
      - count
      type: object
      properties:
        count:
          type: integer
    GuardrailsSettings:
      type: object
      properties:
        exception_message:
          description: A message that will be returned in case some guardrails settings are violated.
          type: string
        show_violated_responses:
          description: Admin-only toggle to view the exact content of violated responses. When enabled, admins can see what triggered a guardrail violation. This is disabled by default for privacy and security. Only administrators can enable this setting and view violated content.
          type: boolean
          default: false
        guardrails_on_transcriptions:
          description: When enabled, audio and video transcriptions are checked for content safety violations using the guardrails LLM, in addition to the existing PII detection.
          type: boolean
          default: false
        vision_guardrails_enabled:
          description: When enabled, images and video frames are checked for content safety violations using a vision-capable guardrails LLM during document ingestion.
          type: boolean
          default: false
        guardrails_vision_llm:
          description: Vision-capable LLM for image and video content safety checks. Defaults to auto which selects the best available vision model.
          type: string
          default: auto
        column_redaction_config:
          type: array
          description: List of [column_pattern, redaction_label], both strings.
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
        disallowed_regex_patterns:
          description: A list of regular expressions that match custom PII.
          type: array
          items:
            type: string
          example:
          - secret_disallowed_word
          - (?!0{3})(?!6{3})[0-8]\d{2}-(?!0{2})\d{2}-(?!0{4})\d{4}
        presidio_labels_to_flag:
          description: A list of entities to be flagged as PII by the built-in Presidio model.
          type: array
          items:
            type: string
          example:
          - IBAN_CODE
          - US_SSN
        pii_labels_to_flag:
          description: A list of entities to be flagged as PII by the built-in PII model.
          type: array
          items:
            type: string
          example:
          - IBAN
          - SSN
        pii_detection_parse_action:
          description: What to do when PII is detected during parsing of documents. The 'redact' option will replace disallowed content in the ingested documents with redaction bars.
          type: string
          enum:
          - allow
          - redact
          - fail
        pii_detection_llm_input_action:
          description: What to do when PII is detected in the input to the LLM (document content and user prompts). The 'redact' option will replace disallowed content with placeholders.
          type: string
          enum:
          - allow
          - redact
          - fail
        pii_detection_llm_output_action:
          description: What to do when PII is detected in the output of the LLM. The 'redact' option will replace disallowed content with placeholders.
          type: string
          enum:
          - allow
          - redact
          - fail
        prompt_guard_labels_to_flag:
          description: A list of entities to be flagged as safety violations in user prompts by the built-in prompt guard model.
          type: array
          items:
            type: string
          example:
          - JAILBREAK
        guardrails_labels_to_flag:
          description: A list of entities to be flagged as safety violations in user prompts. Must be a subset of guardrails_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Violent Crimes
          - Non-Violent Crimes
          - Intellectual Property
          - Code Interpreter Abuse
        guardrails_llm:
          description: LLM to use for Guardrails and PII detection
          type: string
          example: h2oai/h2o-danube3-4b-chat
        guardrails_safe_category:
          description: Name of the safe category for guardrails. Must be a key in guardrails_entities, if provided. Otherwise uses system defaults.
          type: string
          example: Safe
        guardrails_entities:
          description: Dictionary of entities and their descriptions for the guardrails model to classify. The first entry is the "safe" class, the rest are "unsafe" classes.
          type: object
          additionalProperties:
            type: string
          example:
            Safe: Messages that do not contain any of the following unsafe content
            Violent Crimes: 'Messages that enable, encourage, or endorse the commission of violent crimes, including: (1) unlawful violence toward people (ex: terrorism, genocide, murder, hate-motivated violent crimes, child abuse, assault, battery, kidnapping) and (2) unlawful violence toward animals (ex: animal abuse)'
            Non-Violent Crimes: 'Messages that enable, encourage, or endorse the commission of non-violent crimes, including: (1) personal crimes (ex: labor trafficking, threats, intimidation, hate-motivated non-violent crimes), (2) financial crimes (ex: fraud, scams, money laundering), (3) property crimes (ex: theft, arson, vandalism), (4) drug crimes (ex: creating or using regulated substances), (5) weapons crimes (ex: producing unlicensed firearms), and (6) cyber crimes (ex: hacking)'
            Defamation: Messages that are both verifiably false and likely to injure a living person’s reputation
            Specialized Advice: Messages that contain specialized financial, medical, or legal advice, or that indicate dangerous activities or objects are safe
            Intellectual Property: Messages that may violate the intellectual property rights of any third party
            Code Interpreter Abuse: Messages that seek to abuse code interpreters, including those that enable denial of service attacks, container escapes or privilege escalation exploits
        column_redaction_custom_entities_to_flag:
          description: Deprecated - Use custom_pii_entities_to_flag. A list of entities to redact in tabular data files. Must be a subset of column_redaction_custom_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Mother's Maiden Name
        column_redaction_custom_entities:
          description: (Optional) Deprecated - Use custom_pii_entities. A dictionary of entities and a short description for the LLM to check for and redact columns containing PII in tabular data files.
          type: object
          additionalProperties:
            type: string
          example:
            Mother's Maiden Name: Mother's maiden name
        custom_pii_entities_to_flag:
          description: A list of entities to redact in tabular data files. Must be a subset of custom_pii_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Mother's Maiden Name
        custom_pii_entities:
          description: (Optional) A dictionary of entities and a short description for the LLM to check for and redact columns containing PII in tabular data files.
          type: object
          additionalProperties:
            type: string
          example:
            Mother's Maiden Name: Mother's maiden name
    CollectionSettings:
      type: object
      properties:
        max_tokens_per_chunk:
          description: Approximate max. number of tokens per chunk for text-dominated document pages. For images, chunks can be larger.
          type: integer
          example: 320
        chunk_overlap_tokens:
          description: Approximate number of tokens that are overlapping between successive chunks.
          type: integer
          example: 0
        gen_doc_summaries:
          description: Whether to auto-generate document summaries (uses LLM)
          type: boolean
          default: false
        gen_doc_questions:
          description: Whether to auto-generate sample questions for each document (uses LLM)
          type: boolean
          default: false
        audio_input_language:
          description: Language of audio files. Defaults to "auto" language detection. Pass empty string to see choices.
          type: string
          default: auto
        ocr_model:
[...]
