openapi: 3.2.0
info:
  title: h2oGPTe REST Chat API
  description: "\n# Overview \n\nUsers can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.\n\n## Authorization: Getting an API key\n\nSign up/in at Enterprise h2oGPTe and generate one of the following two types of API keys: \n\n- **Global API key**: If a Collection is not specified when creating a new API Key, that key is considered to be a global API Key. Use global API Keys to grant full user impersonation and system-wide access to all of your work. Anyone with access to one of your global API Keys can create, delete, or interact with any of your past, current, and future Collections, Documents, Chats, and settings.\n\n- **Collection-specific API key**: Use Collection-specific API Keys to grant external access to only Chat with a specified Collection and make related API calls to it. Collection-specific API keys do not allow other API calls, such as creation, deletion, or access to other Collections or Chats.\n \nAccess Enterprise h2oGPTe through your [H2O Generative AI](https://genai.h2o.ai/appstore) app store account, available with a freemium tier.\n\n## Authorization: Using an API key \n\nAll h2oGPTe REST API requests must include an API Key in the \"Authorization\" HTTP header, formatted as follows:\n\n```\nAuthorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\n```\n\n```sh\ncurl -X 'POST' \\\n  'https://h2ogpte.genai.h2o.ai/api/v1/collections' \\\n  -H 'accept: application/json' \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX' \\\n  -d '{\n    \"name\": \"The name of my Collection\",\n    \"description\": \"The description of my Collection\",\n    \"embedding_model\": \"BAAI/bge-large-en-v1.5\"\n  }'\n```\n    \n## Interactive h2oGPTe API testing\n\nThis page only showcases the h2oGPTe REST API; you can test it directly in the [Swagger UI](https://h2ogpte.genai.h2o.ai/swagger-ui/). Ensure that you are logged into your Enterprise h2oGPTe account.\n"
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Chat
paths:
  /chats:
    post:
      tags:
      - Chat
      summary: Creates chat session.
      description: Creates chat session with a collection if provided. Otherwise, the session will be with a generic LLM.
      operationId: create_chat_session
      parameters:
      - name: collection_id
        in: query
        description: Id of collection
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                workspace:
                  description: Workspace to be associated with the chat session. If not provided, the collection's workspace or default workspace will be used.
                  type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    get:
      operationId: list_chat_sessions
      summary: List chat sessions.
      description: List chat sessions.
      tags:
      - Chat
      parameters:
      - name: offset
        in: query
        description: How many chat sessions to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many chat sessions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/count:
    get:
      operationId: get_chat_session_count
      summary: Counts a number of chat sessions.
      description: Counts a number of chat sessions.
      tags:
      - Chat
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/delete_job:
    post:
      tags:
      - Chat
      summary: Creates job to delete chat sessions.
      description: Creates job to delete chat sessions.
      operationId: create_delete_chat_session_job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteChatSessionsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}:
    get:
      tags:
      - Chat
      summary: Finds a chat session by id.
      description: Returns a single chat session by its unique identifier.
      operationId: get_chat_session
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Chat
      summary: Deletes collection.
      description: Deletes collection with a given unique identifier.
      operationId: delete_chat_session
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      tags:
      - Chat
      summary: Updates the name of a chat session.
      description: Updates the name of a chat session.
      operationId: update_chat_session
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSessionUpdateRequest'
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/synth_message_pair:
    post:
      tags:
      - Chat
      summary: Insert a synthetic user-question + AI-reply pair into chat history.
      description: 'Used by slash-command flows (e.g. /schedule, /create-assistant) that

        produce an LLM response outside the normal streaming pipeline and need

        the resulting prompt/response pair to show up in the chat history on

        reload. The pair is tagged with chat_message_meta(message_type="command_synth",

        content=command_name) so UIs can identify these turns later.

        '
      operationId: insert_command_synth_pair
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session to attach the pair to.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - user_prompt
              - ai_response
              - command_name
              properties:
                user_prompt:
                  type: string
                  description: The user-authored prompt (the question turn).
                ai_response:
                  type: string
                  description: The LLM-generated response (the reply turn).
                command_name:
                  type: string
                  description: Slash-command identifier (e.g. "schedule", "create-assistant").
      responses:
        '201':
          description: Pair inserted.
          content:
            application/json:
              schema:
                type: object
                properties:
                  question_id:
                    type: string
                    description: ID of the inserted question turn.
                  reply_id:
                    type: string
                    description: ID of the inserted reply turn.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Chat session not found or not owned by the caller.
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/fork:
    post:
      tags:
      - Chat
      summary: Forks a chat session.
      description: Creates a new independent copy of a chat session with all messages, references, metadata, and document associations preserved.
      operationId: fork_chat_session
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session to fork
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                message_id:
                  type: string
                  description: Optional message ID to branch from. When provided, only messages up to and including this message are copied.
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/collection:
    put:
      tags:
      - Chat
      summary: Updates a collection reference of a chat session.
      description: Updates a collection reference of a chat session.
      operationId: update_chat_session_collection
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionChangeRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Chat
      summary: Removes a collection reference from the chat session.
      description: Removes a collection reference from the chat session.
      operationId: delete_chat_session_collection
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/prompt_template:
    put:
      tags:
      - Chat
      summary: Updates a prompt template reference of a chat session.
      description: Updates a prompt template reference of a chat session.
      operationId: update_chat_session_prompt_template
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptTemplateChangeRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Chat
      summary: Removes a prompt template reference from the chat session.
      description: Removes a prompt template reference from the chat session.
      operationId: delete_chat_session_prompt_template
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/guardrails:
    get:
      operationId: get_chat_session_guardrails
      summary: Get guardrails settings for a chat session.
      description: Returns the guardrails settings configured for a specific chat session.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/GuardrailsSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/agent_server_files:
    get:
      operationId: list_agent_server_files
      summary: Lists agent server files.
      description: Lists agent server files.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentServerFile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_agent_server_files
      summary: Deletes agent server files.
      description: Deletes agent server files.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_ids}/agent_server_directories:
    delete:
      operationId: delete_agent_server_directories
      summary: Deletes agent server directories.
      description: 'Deletes agent server directories.


        Deprecated: this endpoint will be removed in a future release. Agent

        directories are now cleaned up automatically as part of the

        chat-session delete cascade — call `DELETE /chats/{session_ids}`

        instead. Deleting agent files mid-conversation leaves the agent in

        an inconsistent state (see h2oai/h2ogpte#7302), so this standalone

        path is no longer recommended.

        '
      deprecated: true
      tags:
      - Chat
      parameters:
      - name: session_ids
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: array
          items:
            type: string
      - name: dir_types
        in: query
        description: Types of agent directories to be deleted
        required: false
        schema:
          type: array
          items:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/agent_server_directories/stats:
    get:
      operationId: list_all_agent_server_directories_stats
      summary: Lists stats of  agent server directories.
      description: Lists stats of agent server directories.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      - name: detail_level
        in: query
        description: the higher value, more details are returned.
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentServerDirectoryStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/agent_server_directories/{directory_name}/stats:
    get:
      operationId: get_agent_server_directory_stats
      summary: Gets stats of a agent server directory.
      description: Gets stats of a agent server directory.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      - name: directory_name
        in: path
        description: Directory name
        required: true
        schema:
          type: string
      - name: detail_level
        in: query
        description: the higher value, more details are returned.
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentServerDirectoryStats'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/completions:
    post:
      operationId: get_completion
      description: Asks question in a given chat session. If stream is enabled, the server sends stream of delta messages. The stream is terminated with the massage having property finished set to true. This message terminating message contains also the full completion.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of a chat session
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCompletionRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletion'
            application/jsonl:
              schema:
                anyOf:
                - $ref: '#/components/schemas/ChatCompletionDelta'
                - $ref: '#/components/schemas/ChatError'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/questions:
    get:
      operationId: list_questions_for_chat_session
      summary: List suggested questions for a given chat session.
      description: List suggested questions for a given chat session.
      tags:
      - Chat
      parameters:
      - name: session_id
        in: path
        description: Id of a chat session
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: How many questions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuggestedQuestion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /chats/{session_id}/messages:
    get:
      tags:
      - Chat
      summary: Fetches chat message and metadata for messages in a chat session.
      description: Fetches chat message and metadata for messages in a chat session. Messages without a `reply_to` are from the end user, messages with a `reply_to` are from an LLM and a response to a specific user message.
      operationId: get_chat_session_messages
      parameters:
      - name: session_id
        in: path
        description: Id of the chat session
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many chat sessions to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many chat sessions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessage'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{message_ids}:
    delete:
      tags:
      - Chat
      summary: Deletes specific chat messages.
      description: Deletes specific chat messages.
      operationId: delete_messages
      parameters:
      - name: message_ids
        in: path
        description: Ids of messages to be deleted
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{message_id}/references:
    get:
      tags:
      - Chat
      summary: Fetches metadata for references of a chat message.
      description: Fetches metadata for references of a chat message. References are only available for messages sent from an LLM, an empty list will be returned for messages sent by the user.
      operationId: get_message_references
      parameters:
      - name: message_id
        in: path
        description: Id of the chat message
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The number of references to consider based on the highest confidence scores.
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessageReference'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{message_id}/meta:
    get:
      tags:
      - Chat
      summary: Fetches chat message meta information.
      description: Fetches chat message meta information.
      operationId: get_message_meta
      parameters:
      - name: message_id
        in: path
        description: Id of the chat message.
        required: true
        schema:
          type: string
      - name: info_type
        in: query
        description: Metadata type to fetch.
        required: false
        schema:
          type: string
          enum:
          - self_reflection
          - usage_stats
          - prompt_raw
          - llm_only
          - hyde1
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatMessageMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{message_id}/votes:
    put:
      tags:
      - Chat
      summary: Changes the vote value of a chat message.
      description: Set the exact value of a vote for a chat message. Any message type can be updated, but only LLM response votes will be visible in the UI. The expectation is 0 - unvoted, -1 - dislike, 1 - like. Values outside of this will not be viewable in the UI.
      operationId: set_message_votes
      parameters:
      - name: message_id
        in: path
        description: Id of the chat message.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageVoteUpdateRequest'
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{question_id}/pause:
    post:
      tags:
      - Chat
      summary: Pause a streaming chat response.
      description: Pauses the streaming generation of a chat message response. The message can be resumed later using the resume endpoint.
      operationId: pause_chat_message
      parameters:
      - name: question_id
        in: path
        description: The ID of the chat question to pause.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{question_id}/resume:
    post:
      tags:
      - Chat
      summary: Resume a paused chat response.
      description: Resumes the streaming generation of a previously paused chat message response.
      operationId: resume_chat_message
      parameters:
      - name: question_id
        in: path
        description: The ID of the chat question to resume.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{question_id}/stop:
    post:
      tags:
      - Chat
      summary: Stop a streaming chat response immediately.
      description: Immediately stops/cancels the streaming generation of a chat message response. This may result in an incomplete sentence or thought.
      operationId: stop_chat_message
      parameters:
      - name: question_id
        in: path
        description: The ID of the chat question to stop.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{question_id}/finish:
    post:
      tags:
      - Chat
      summary: Signal the LLM to finish its response gracefully.
      description: Signals the LLM to complete its current thought and finish naturally, providing a more coherent ending than an immediate stop.
      operationId: finish_chat_message
      parameters:
      - name: question_id
        in: path
        description: The ID of the chat question to finish gracefully.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /messages/{question_id}/hitl:
    post:
      tags:
      - Chat
      summary: Send a course correction message to a running agent.
      description: Sends a human-in-the-loop message to a running agent. The agent will incorporate this guidance before its next LLM call.
      operationId: send_hitl_message
      parameters:
      - name: question_id
        in: path
        description: The ID of the chat question (active streaming session).
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - message
              properties:
                message:
                  type: string
                  description: The course correction message to send to the agent.
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /question_answer_feedbacks:
    get:
      tags:
      - Chat
      summary: Lists user's questions and answers that have a feedback.
      description: Lists user's questions and answers that have a feedback.
      operationId: list_question_answer_feedbacks
      parameters:
      - name: offset
        in: query
        description: How many feedbacks to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many feedbacks to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: collection_id
        in: query
        description: Filter by collection ID.
        required: false
        schema:
          type: string
      - name: interval
        in: query
        description: Filter by time interval (e.g. "7 days", "30 days", "90 days", "1 year").
        required: false
        schema:
          type: string
      - name: no_collection
        in: query
        description: If true, only return feedbacks with no collection.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QAFeedback'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /question_answer_feedbacks/{answer_id}:
    post:
      tags:
      - Chat
      summary: Update feedback for a specific answer to a question.
      description: Update feedback for a specific answer to a question.
      operationId: update_question_answer_feedback
      parameters:
      - name: answer_id
        in: path
        description: Unique identifier of and answer connected with a feedback.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQAFeedbackRequest'
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /question_answer_feedbacks/export/{job_id}:
    get:
      tags:
      - Chat
      summary: Download a completed feedback CSV export.
      description: Downloads the CSV file produced by an ExportFeedbackCSVJob.
      operationId: download_feedback_export
      parameters:
      - name: job_id
        in: path
        description: The job ID of the completed export job.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: CSV file download
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Export not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EndpointError'
        default:
          $ref: '#/components/responses/Unexpected'
  /question_answer_feedbacks/count:
    get:
      operationId: get_question_answer_feedback_count
      summary: Counts a number of question-answer feedbacks.
      description: Counts a number of question-answer feedbacks.
      tags:
      - Chat
      parameters:
      - name: collection_id
        in: query
        description: Filter by collection ID.
        required: false
        schema:
          type: string
      - name: interval
        in: query
        description: Filter by time interval (e.g. "7 days", "30 days", "90 days", "1 year").
        required: false
        schema:
          type: string
      - name: no_collection
        in: query
        description: If true, only return feedbacks with no collection.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  responses:
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unexpected:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
  schemas:
    ChatCompletionDelta:
      required:
      - body
      - finished
      type: object
      properties:
        message_id:
          description: Id of the chat completion message. The attribute is populated only in the last message (`finished==True`).
          type: string
        body:
          type: string
          example: The strongest
        finished:
          type: boolean
    ChatCompletion:
      required:
      - message_id
      - body
      type: object
      properties:
        message_id:
          description: Id of the chat completion message
          type: string
        body:
          type: string
          example: The strongest here is Superman!
    JobDetailsStatus:
      required:
      - id
      - status
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    CollectionChangeRequest:
      required:
      - collection_id
      type: object
      properties:
        collection_id:
          type: string
    DeleteChatSessionsJobRequest:
      type: object
      required:
      - session_ids
      properties:
        session_ids:
          description: Ids of chat sessions to be deleted.
          type: array
          items:
            type: string
    ChatCompletionRAGConfig:
      type: object
      description: "A map with arguments to control RAG (retrieval-augmented-generation) types.:\n  * `rag_type` **(type=enum[auto, llm_only, rag, hyde1, hyde2, rag+, all_data])** RAG type options:\n    * `auto` - Automatically select the best rag_type.\n    * `llm_only` LLM Only - Answer the query without any supporting document contexts.\n       Requires 1 LLM call.\n    * `rag` RAG (Retrieval Augmented Generation) - Use supporting document contexts\n       to answer the query. Requires 1 LLM call.\n    * `hyde1` LLM Only + RAG composite - HyDE RAG (Hypothetical Document Embedding).\n       Use 'LLM Only' response to find relevant contexts from a collection for generating\n       a response. Requires 2 LLM calls.\n    * `hyde2` HyDE + RAG composite - Use the 'HyDE RAG' response to find relevant\n       contexts from a collection for generating a response. Requires 3 LLM calls.\n    * `rag+` Summary RAG - Like RAG, but uses more context and recursive\n       summarization to overcome LLM context limits. Keeps all retrieved chunks, puts\n       them in order, adds neighboring chunks, then uses the summary API to get the\n       answer. Can require several LLM calls.\n    * `all_data` All Data RAG - Like Summary RAG, but includes all document\n       chunks. Uses recursive summarization to overcome LLM context limits.\n       Can require several LLM calls.\n  * `hyde_no_rag_llm_prompt_extension` **(type=string, example=\\\\\\\\nKeep the answer brief, and list the 5 most relevant key words at the end.)** -\n    Add this prompt to every user's prompt, when generating answers to be used for subsequent retrieval during HyDE.\n    Only used when rag_type is `hyde1` or `hyde2`.\n  * `num_neighbor_chunks_to_include` **(type=integer, default=1)** - A number of neighboring chunks to include \n    for every retrieved relevant chunk. It helps to keep surrounding context together. Only enabled for rag_type `rag+`.\n  * `meta_data_to_include` **(type=map)** - A map with flags that indicate whether each piece of document metadata \n    is to be included as part of the context for a chat with a collection.\n    * `name` **(type: boolean, default=True)**\n    * `text` **(type: boolean, default=True)**\n    * `page` **(type: boolean, default=True)**\n    * `captions` **(type: boolean, default=True)**\n    * `uri` **(type: boolean, default=False)**\n    * `connector` **(type: boolean, default=False)**\n    * `original_mtime` **(type: boolean, default=False)**\n    * `age` **(type: boolean, default=False)**\n    * `score` **(type: boolean, default=False)**\n  * `rag_max_chunks` **(type=integer, default=-1)** - Maximum number of document chunks to retrieve for RAG.\n    Actual number depends on rag_type and admin configuration. Set to >0 values to enable. \n    Can be combined with rag_min_chunk_score.\n  * `rag_min_chunk_score` **(type=double, default=0.0)** - Minimum score of document chunks to retrieve for RAG.\n    Set to >0 values to enable. Can be combined with rag_max_chunks.\n  * `graph_rag_auto_select` **(type=boolean, default=true)** - When `rag_type` is `auto` and the collection has\n    a successfully built knowledge graph, auto-select `graph_rag` as the rag_type for the chat. Set to `false`\n    to keep auto on normal RAG even when a graph exists, e.g. when an admin wants to retain control over when\n    graph mode becomes the default.\n"
    ChatMessageReference:
      required:
      - document_id
      - document_name
      - chunk_id
      - pages
      - score
      - were_references_deleted
      type: object
      properties:
        collection_id:
          type: string
        document_id:
          type: string
        document_name:
          type: string
        chunk_id:
          type: integer
        score:
          type: number
        pages:
          type: string
        content:
          type: string
        were_references_deleted:
          type: boolean
        uri:
          type: string
    AgentServerDirectoryStats:
      required:
      - id
      - object
      - size_bytes
      - size_human_readable
      - file_count
      - directory_count
      - created_timestamp
      - modified_timestamp
      - created_date
      - modified_date
      - is_empty
      - top_level_contents
      - owner
      - permissions
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        object:
          type: string
        size_bytes:
          type: integer
        size_human_readable:
          type: string
        file_count:
          type: integer
        directory_count:
          type: integer
        created_timestamp:
          type: number
        modified_timestamp:
          type: number
        created_date:
          type: string
        modified_date:
          type: string
        is_empty:
          type: boolean
        top_level_contents:
          type: array
          items:
            type: string
        owner:
          type: string
        permissions:
          type: string
        files:
          description: Only populated when detail_level > 0
          type: array
          items:
            $ref: '#/components/schemas/AgentServerDirectoryFileStats'
    AgentServerDirectoryFileStats:
      required:
      - name
      - path
      - size_bytes
      - size_human_readable
      - created_timestamp
      - modified_timestamp
      - created_date
      - modified_date
      - is_directory
      - owner
      - permissions
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
        path:
          type: string
        size_bytes:
          type: integer
        size_human_readable:
          type: string
        created_timestamp:
          type: number
        modified_timestamp:
          type: number
        created_date:
          type: string
        modified_date:
          type: string
        is_directory:
          type: boolean
        owner:
          description: Unix systems only
          type: string
        permissions:
          description: Unix systems only
          type: string
        sha256:
          description: Only for files, not directories
          type: string
    MessageVoteUpdateRequest:
      required:
      - votes
      type: object
      properties:
        votes:
          type: integer
    TagFilter:
      type: object
      description: "Filter for document tags supporting inclusion and exclusion.\n\nNote: The exclude list takes priority over the include list. If a document has a tag\nthat appears in both lists, the document will be excluded.\n\nExamples:\n  - Include only documents with 'red' OR 'blue' tags: {\"include\": [\"red\", \"blue\"]}\n  - Exclude documents with 'red' OR 'blue' tags: {\"exclude\": [\"red\", \"blue\"]}\n  - Include documents with 'color' tag BUT exclude 'red' and 'blue': {\"include\": [\"color\"], \"exclude\": [\"red\", \"blue\"]}\n"
      properties:
        include:
          type: array
          items:
            type: string
          description: Include documents with ANY of these tags (OR operation).
        exclude:
          type: array
          items:
            type: string
          description: Exclude documents with ANY of these tags (OR operation). Takes priority over include.
    ChatMessage:
      required:
      - id
      - content
      - votes
      - created_at
      - has_references
      - total_references
      type: object
      properties:
        id:
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        content:
          type: string
        votes:
          type: integer
        created_at:
          type: string
          format: date-time
        has_references:
          type: boolean
        total_references:
          type: integer
        username:
          type: string
        reply_to:
          type: string
        error:
          type: string
        llm_args:
          type: string
          description: 'JSON-encoded LLM arguments (e.g. `{"use_agent": true}`) that were

            applied when the question was dispatched. Only populated on

            question messages (`reply_to` is null); reply messages have

            `llm_args = "null"` (literal string).

            '
        type_list:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessageMeta'
    ChatCompletionRequest:
      required:
      - message
      type: object
      properties:
        message:
          type: string
          description: A query or an instruction from the end user to the LLM.
          example: Who is the strongest hero?
        system_prompt:
          type: string
          description: A text sent to models which support system prompts. It gives the model overall context in how to respond. Use 'auto' for the model default. Don't specify for no system prompt.
        pre_prompt_query:
          type: string
          description: A text that is prepended before the contextual document chunks. The default can be customized per environment.
          default: Pay attention and remember the information below, which will help to answer the question or imperative after the context ends.\\\\n
        prompt_query:
          type: string
          description: A text that is appended to the beginning of the user's message. The default can be customized per environment.
          default: According to only the information in the document sources provided within the context above,
        image_batch_final_prompt:
          type: string
          description: A prompt for each image batch for vision models.
        image_batch_image_prompt:
          type: string
          description: A prompt to reduce all answers each image batch for vision models
        llm:
          type: string
          description: LLM name to send the query. Use "auto" for automatic model routing, set cost_controls of llm_args for detailed control over automatic routing.
        llm_args:
          $ref: '#/components/schemas/ChatCompletionRequestLLMArgs'
        self_reflection_config:
          $ref: '#/components/schemas/ChatCompletionSelfReflectionConfig'
        rag_config:
          $ref: '#/components/schemas/ChatCompletionRAGConfig'
        include_chat_history:
          type: string
          enum:
          - true
          - false
          - auto
          description: Whether to include chat history. Includes previous questions and answers for the current chat session for each new chat request. Disable if require deterministic answers for a given question.
        tags:
          oneOf:
          - type: array
            items:
              type: string
          - $ref: '#/components/schemas/TagFilter'
          description: "Filter documents by tags for RAG context. Supports two formats:\n  - Array format (backward compatible): [\"red\", \"blue\"] includes documents with 'red' OR 'blue' tags\n  - Object format (with exclusions): {\"include\": [\"color\"], \"exclude\": [\"red\", \"blue\"]}\n"
        stream:
          type: boolean
          default: false
    ChatError:
      required:
      - error
      type: object
      properties:
        error:
          type: string
          example: The communication with llm has been interrupted
    UpdateQAFeedbackRequest:
      required:
      - expected_answer
      - user_comment
      type: object
      properties:
        expected_answer:
          type: string
        user_comment:
          type: string
    ChatMessageMeta:
      required:
      - message_type
      - content
      type: object
      properties:
        message_type:
          type: string
        content:
          type: string
    ChatCompletionSelfReflectionConfig:
      type: object
      description: "A map with self reflection settings:\n  * `llm_reflection` **(type=string, example=gpt-4-0613)**\n  * `prompt_reflection` **(type=string, example=\\\"\\\"\\\"Prompt:\\\\\\\\n%s\\\\\\\\n\\\"\\\"\\\"\\\\\\\\n\\\\\\\\n\\\"\\\"\\\")**\n  * `system_prompt_reflection` **(type=string)**\n  * `llm_args_reflection` **(type=string, example={})**\n"
      additionalProperties: true
    ChatCompletionRequestLLMArgs:
      type: object
      description: "A map of arguments sent to LLM with query.\n  * `temperature` **(type=double, default=0.0)** - A value used to modulate the next token probabilities.\n    0 is the most deterministic and 1 is most creative.\n  * `top_k` **(type=integer, default=1)** - A number of highest probability vocabulary tokens to keep for top-k-filtering.\n  * `top_p` **(type=double, default=0.0)** - If set to a value < 1, only the smallest set of most probable\n    tokens with probabilities that add up to top_p or higher are kept for generation.\n  * `seed` **(type=integer, default=0)** - A seed for the random number generator when sampling during\n     generation (if temp>0 or top_k>1 or top_p<1), seed=0 picks a random seed.\n  * `repetition_penalty` **(type=double, default=1.07)** - A parameter for repetition penalty. 1.0 means no penalty.\n  * `max_new_tokens` **(type=double, default=1024)** - A maximum number of new tokens to generate.\n    This limit applies to each (map+reduce) step during summarization and each (map) step during extraction.\n  * `min_max_new_tokens` **(type=integer, default=512)** - A minimum value for max_new_tokens when auto-adjusting for content of prompt, docs, etc.\n  * `response_format` **(type=enum[text, json_object, json_code], default=text)** - An output type of LLM\n  * `guided_json` **(type=map)** - If specified, the output will follow the JSON schema.\n  * `guided_regex` **(type=string)** - If specified, the output will follow the regex pattern.\n    Only for models that support guided generation.\n  * `guided_choice` **(type=array[string])** - If specified, the output will be exactly one of the choices.\n    Only for models that support guided generation.\n  * `guided_grammar` **(type=string)** - If specified, the output will follow the context free grammar.\n    Only for models that support guided generation.\n  * `guided_whitespace_pattern` **(type=string)** - If specified, will override the default whitespace pattern for guided json decoding.\n    Only for models that support guided generation.\n  * `enable_vision` **(type=enum[on, off, auto], default=auto)** - Controls vision mode,\n    send images to the LLM in addition to text chunks.\n  * `visible_vision_models` **(type=array[string], default=[auto])** - Controls which vision model to use when processing images.\n    Must provide exactly one model. [auto] for automatic.\n  * `images_num_max` **(type=integer, default=None)** - Maximum number of images to process.\n  * `json_preserve_system_prompt` **(type=boolean, default=None)** - Whether to preserve system prompt in JSON response.\n  * `client_metadata` **(type=string, default=None)** - Additional metadata to send with the request.\n  * `min_chars_per_yield` **(type=integer, default=1)** - Minimum characters to yield in streaming response.\n  * `reasoning_effort` **(type=integer, default=0)** - Level of reasoning effort for the model (higher values = deeper reasoning, e.g., 10000-65000).\n    Use for models that support chain-of-thought reasoning. 0 means no additional reasoning effort.\n  * `cost_controls` **(type=map)** A map with cost controls settings:\n    * `max_cost` **(type=double)** - Sets the maximum allowed cost in USD per LLM call when doing Automatic model routing.\n      If the estimated cost based on input and output token counts is higher than this limit,\n      the request will fail as early as possible.\n    * `max_cost_per_million_tokens` **(type=double)** - Only consider models that cost less than this value in USD per million tokens\n      when doing automatic routing. Using the max of input and output cost.\n    * `model` **(type=array[string])** - Optional subset of models to consider when doing automatic routing.\n      If not specified, all models are considered.\n    * `willingness_to_pay` **(type=double)** - Controls the willingness to pay extra for a more accurate model for every LLM call\n      when doing automatic routing, in units of USD per +10% increase in accuracy.\n      We start with the least accurate model. For each more accurate model,\n      we accept it if the increase in estimated cost divided by the increase in estimated accuracy\n      is no more than this value divided by 10%, up to the upper limit specified above.\n      Lower values will try to keep the cost as low as possible,\n      higher values will approach the cost limit to increase accuracy. 0 means unlimited.\n    * `willingness_to_wait` **(type=double)** - Controls the willingness to wait longer for a more accurate model for every LLM call\n      when doing automatic routing, in units of seconds per +10% increase in accuracy.\n      We start with the least accurate model. For each more accurate model,\n      we accept it if the increase in estimated time divided by the increase in estimated accuracy\n      is no more than this value divided by 10%. Lower values will try to keep the time\n      as low as possible, higher values will take longer to increase accuracy. 0 means unlimited.\n  * `use_agent` **(type=boolean, default=False)** - If True, use the AI agent (with access to tools) to generate the response.\n  * `agent_accuracy` **(type=string, default=\"standard\")** - Effort level by the agent. Only if use_agent=True. One of [\"quick\", \"basic\", \"standard\", \"maximum\"].\n  * `agent_max_turns` **(type=union[string, integer], default=\"auto\")** - Optional max. number of back-and-forth turns with the agent. Only if use_agent=True. Either \"auto\" or an integer.\n  * `agent_tools` **(type=union[string, array[string]], default=\"auto\")** - Either \"auto\", \"all\", \"any\" to enable all available tools, or a specific list of tools to use. Only if use_agent=True.\n  * `agent_type` **(type=string, default=\"auto\")** - Type of agent to use for task processing.\n  * `agent_original_files` **(type=array[string], default=None)** - List of file paths for agent to process.\n  * `agent_timeout` **(type=integer, default=None)** - Timeout in seconds for each agent turn.\n  * `agent_total_timeout` **(type=integer, default=3600)** - Total timeout in seconds for all agent processing.\n  * `agent_code_writer_system_message` **(type=string, default=None)** - System message for agent code writer.\n  * `agent_num_executable_code_blocks_limit` **(type=integer, default=1)** - Maximum number of executable code blocks.\n  * `agent_system_site_packages` **(type=boolean, default=True)** - Whether agent has access to system site packages.\n  * `agent_main_model` **(type=string, default=None)** - Main model to use for agent.\n  * `agent_max_stream_length` **(type=integer, default=None)** - Maximum stream length for agent response.\n  * `agent_max_memory_usage` **(type=integer, default=16*1024**3)** - Maximum memory usage for agent in bytes (16GB default).\n  * `agent_main_reasoning_effort` **(type=integer, default=None)** - Effort level for main reasoning.\n  * `agent_advanced_reasoning_effort` **(type=integer, default=None)** - Effort level for advanced reasoning.\n  * `agent_max_confidence_level` **(type=integer, default=None)** - Maximum confidence level for agent responses.\n  * `agent_planning_forced_mode` **(type=boolean, default=None)** - Whether to force planning mode for agent.\n  * `agent_too_soon_forced_mode` **(type=boolean, default=None)** - Whether to force \"too soon\" mode for agent.\n  * `agent_critique_forced_mode` **(type=integer, default=None)** - Whether to force critique mode for agent.\n  * `agent_query_understanding_parallel_calls` **(type=integer, default=None)** - Number of parallel calls for query understanding.\n  * `task_tracking` **(type=boolean, default=None)** - Enable task tracking for agent.\n  * `task_update_steps` **(type=integer, default=None)** - Number of steps for task update tracking (0-5, None for auto).\n  * `tool_building_mode` **(type=string, default=None)** - Mode for tool building configuration.\n  * `agent_stream_files` **(type=boolean, default=True)** - Whether to stream files from agent.\n  * `final_answer_guidelines_mode` **(type=string, default=\"auto\")** - Mode for formatting agent final answers. Only applies when use_agent=True. Options: \"auto\" (chooses detailed, may later adapt), \"detailed\" (full final answer guidelines), \"detailed_no_file_links\", \"detailed_no_image_links\", \"detailed_no_links\", \"file_template\" (use custom template), \"raw_LLM\" (bypass final answer guidelines). Available modes may vary by deployment.\n"
      additionalProperties: true
    ChatSessionUpdateRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
    Count:
      required:
      - count
      type: object
      properties:
        count:
          type: integer
    GuardrailsSettings:
      type: object
      properties:
        exception_message:
          description: A message that will be returned in case some guardrails settings are violated.
          type: string
        show_violated_responses:
          description: Admin-only toggle to view the exact content of violated responses. When enabled, admins can see what triggered a guardrail violation. This is disabled by default for privacy and security. Only administrators can enable this setting and view violated content.
          type: boolean
          default: false
        guardrails_on_transcriptions:
          description: When enabled, audio and video transcriptions are checked for content safety violations using the guardrails LLM, in addition to the existing PII detection.
          type: boolean
          default: false
        vision_guardrails_enabled:
          description: When enabled, images and video frames are checked for content safety violations using a vision-capable guardrails LLM during document ingestion.
          type: boolean
          default: false
        guardrails_vision_llm:
          description: Vision-capable LLM for image and video content safety checks. Defaults to auto which selects the best available vision model.
          type: string
          default: auto
        column_redaction_config:
          type: array
          description: List of [column_pattern, redaction_label], both strings.
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
        disallowed_regex_patterns:
          description: A list of regular expressions that match custom PII.
          type: array
          items:
            type: string
          example:
          - secret_disallowed_word
          - (?!0{3})(?!6{3})[0-8]\d{2}-(?!0{2})\d{2}-(?!0{4})\d{4}
        presidio_labels_to_flag:
          description: A list of entities to be flagged as PII by the built-in Presidio model.
          type: array
          items:
            type: string
          example:
          - IBAN_CODE
          - US_SSN
        pii_labels_to_flag:
          description: A list of entities to be flagged as PII by the built-in PII model.
          type: array
          items:
            type: string
          example:
          - IBAN
          - SSN
        pii_detection_parse_action:
          description: What to do when PII is detected during parsing of documents. The 'redact' option will replace disallowed content in the ingested documents with redaction bars.
          type: string
          enum:
          - allow
          - redact
          - fail
        pii_detection_llm_input_action:
          description: What to do when PII is detected in the input to the LLM (document content and user prompts). The 'redact' option will replace disallowed content with placeholders.
          type: string
          enum:
          - allow
          - redact
          - fail
        pii_detection_llm_output_action:
          description: What to do when PII is detected in the output of the LLM. The 'redact' option will replace disallowed content with placeholders.
          type: string
          enum:
          - allow
          - redact
          - fail
        prompt_guard_labels_to_flag:
          description: A list of entities to be flagged as safety violations in user prompts by the built-in prompt guard model.
          type: array
          items:
            type: string
          example:
          - JAILBREAK
        guardrails_labels_to_flag:
          description: A list of entities to be flagged as safety violations in user prompts. Must be a subset of guardrails_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Violent Crimes
          - Non-Violent Crimes
          - Intellectual Property
          - Code Interpreter Abuse
        guardrails_llm:
          description: LLM to use for Guardrails and PII detection
          type: string
          example: h2oai/h2o-danube3-4b-chat
        guardrails_safe_category:
          description: Name of the safe category for guardrails. Must be a key in guardrails_entities, if provided. Otherwise uses system defaults.
          type: string
          example: Safe
        guardrails_entities:
          description: Dictionary of entities and their descriptions for the guardrails model to classify. The first entry is the "safe" class, the rest are "unsafe" classes.
          type: object
          additionalProperties:
            type: string
          example:
            Safe: Messages that do not contain any of the following unsafe content
            Violent Crimes: 'Messages that enable, encourage, or endorse the commission of violent crimes, including: (1) unlawful violence toward people (ex: terrorism, genocide, murder, hate-motivated violent crimes, child abuse, assault, battery, kidnapping) and (2) unlawful violence toward animals (ex: animal abuse)'
            Non-Violent Crimes: 'Messages that enable, encourage, or endorse the commission of non-violent crimes, including: (1) personal crimes (ex: labor trafficking, threats, intimidation, hate-motivated non-violent crimes), (2) financial crimes (ex: fraud, scams, money laundering), (3) property crimes (ex: theft, arson, vandalism), (4) drug crimes (ex: creating or using regulated substances), (5) weapons crimes (ex: producing unlicensed firearms), and (6) cyber crimes (ex: hacking)'
            Defamation: Messages that are both verifiably false and likely to injure a living person’s reputation
            Specialized Advice: Messages that contain specialized financial, medical, or legal advice, or that indicate dangerous activities or objects are safe
            Intellectual Property: Messages that may violate the intellectual property rights of any third party
            Code Interpreter Abuse: Messages that seek to abuse code interpreters, including those that enable denial of service attacks, container escapes or privilege escalation exploits
        column_redaction_custom_entities_to_flag:
          description: Deprecated - Use custom_pii_entities_to_flag. A list of entities to redact in tabular data files. Must be a subset of column_redaction_custom_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Mother's Maiden Name
        column_redaction_custom_entities:
          description: (Optional) Deprecated - Use custom_pii_entities. A dictionary of entities and a short description for the LLM to check for and redact columns containing PII in tabular data files.
          type: object
          additionalProperties:
            type: string
          example:
            Mother's Maiden Name: Mother's maiden name
        custom_pii_entities_to_flag:
          description: A list of entities to redact in tabular data files. Must be a subset of custom_pii_entities, if provided.
          type: array
          items:
            type: string
          example:
          - Mother's Maiden Name
        custom_pii_entities:
          description: (Optional) A dictionary of entities and a short description for the LLM to check for and redact columns containing PII in tabular data files.
          type: object
          additionalProperties:
            type: string
          example:
            Mother's Maiden Name: Mother's maiden name
    PromptTemplateChangeRequest:
      required:
      - prompt_template_id
      type: object
      properties:
        prompt_template_id:
          type: string
    JobDetails:
      required:
      - id
      - name
      - overall_status
      - passed_percentage
      - failed_percentage
      - progress
      - created_at
      - updated_at
      - kind
      - statuses
      - errors
      - duration
      - duration_seconds
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        overall_status:
          type: string
          enum:
          - in progress
          - completed
          - failed
          - canceled
        status:
          type: string
        passed_percentage:
          type: number
          format: double
        failed_percentage:
          type: number
          format: double
        progress:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        kind:
          type: string
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/JobDetailsStatus'
        errors:
          type: array
          items:
            type: string
        duration:
          type: string
        duration_seconds:
          type: number
          format: double
        canceled_by:
          type: string
        cancel_reason:
          type: string
        timeout:
          type: number
          format: double
        start_time:
          type: number
          format: double
    SuggestedQuestion:
      required:
      - question
      type: object
      properties:
        question:
          type: string
    QAFeedback:
      required:
      - question_content
      - reply_content
      - question_id
      - reply_id
      - votes
      - response_created_at_time
      type: object
      properties:
        question_content:
          type: string
        reply_content:
          type: string
        question_id:
          type: string
        reply_id:
          type: string
        llm:
          type: string
        system_prompt:
          type: string
        pre_prompt_query:
          type: string
        prompt_query:
          type: string
        pre_prompt_summary:
          type: string
        prompt_summary:
          type: string
        rag_config:
          type: string
        collection_documents:
          type: array
          items:
            type: string
        votes:
          type: integer
        expected_answer:
          type: string
        user_comment:
          type: string
        collection_id:
          type: string
        collection_name:
          type: string
        response_created_at_time:
          type: string
        prompt_template_id:
          type: string
        include_chat_history:
          type: string
        chat_session_id:
          type: string
        voted_user_id:
          type: string
        voted_username:
          type: string
    EndpointError:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
    ChatSession:
      required:
      - id
      - updated_at
      type: object
      properties:
        id:
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          example: Discussion about sci-fi heroes.
        collection_id:
          type: string
          example: c91e7c84-65df-4b43-ba15-fbd3afb2e86f
        collection_name:
          type: string
        prompt_template_id:
          type: string
          example: 4e400991-c459-455f-995c-dc6f55ffdb90
        latest_message_content:
          type: string
          example: The strongest hero is superman!
        updated_at:
          type: string
          format: date-time
        workspace:
          type: string
        username:
          type: string
          description: Username of the session owner.
    AgentServerFile:
      required:
      - id
      - object
      - bytes
      - created_at
      - filename
      - purpose
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        object:
          type: string
        bytes:
          type: integer
        created_at:
          type: integer
        filename:
          type: string
        purpose:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Using an API key generated by H2OGPTe
