openapi: 3.2.0
info:
  title: h2oGPTe REST Tags API
  description: '# Overview


    Users can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.'
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Tags
paths:
  /tags:
    post:
      operationId: create_tag
      summary: Creates a new tag
      description: Creates a new tag that can be subsequently associated with a document.
      tags:
      - Tags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreateRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    get:
      operationId: list_tags
      summary: List tags
      description: List all existing tags.
      tags:
      - Tags
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /tags/{tag_name}:
    get:
      tags:
      - Tags
      summary: Finds a tag by its name
      description: Returns a single tag by its unique name.
      operationId: get_tag
      parameters:
      - name: tag_name
        in: path
        description: Name of a tag to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Tags
      summary: Deletes a tag
      description: Deletes a tag by its name. Only the tag creator can delete it. All document-tag associations are removed.
      operationId: delete_tag
      parameters:
      - name: tag_name
        in: path
        description: Name of the tag to delete
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  tag_id:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Tag not found or not owned by the requesting user
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      tags:
      - Tags
      summary: Updates attributes of a tag
      description: Updates attributes of an existing tag, particularly description and format.
      operationId: update_tag
      parameters:
      - name: tag_name
        in: path
        description: Name of a tag to to be updated
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /tags/{tag_names}/documents:
    get:
      operationId: list_documents_for_tags
      summary: List documents associated with a tag
      description: List documents associated with a tag.
      tags:
      - Tags
      parameters:
      - name: tag_names
        in: path
        description: Names of a tags to return documents for
        required: true
        schema:
          type: array
          items:
            type: string
      - name: collection_id
        in: query
        description: Id of a collection containing the documents
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  schemas:
    TagUpdateRequest:
      type: object
      properties:
        description:
          type: string
        format:
          type: string
    Metadata:
      type: object
      additionalProperties: true
    EndpointError:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
    Document:
      required:
      - id
      - name
      - username
      - type
      - size
      - page_count
      - created_at
      - updated_at
      - status
      type: object
      properties:
        id:
          description: A unique identifier of the document
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          description: Name of the document
          type: string
          example: The Hitchhiker's Guide to the Galaxy
        username:
          description: A username owning the document
          type: string
        type:
          description: Type of the document
          type: string
        size:
          description: Size of the document in bytes
          type: integer
        page_count:
          description: A number of pages contained in the document
          type: integer
        status:
          description: Status of the document
          type: string
          enum:
          - unknown
          - scheduled
          - queued
          - running
          - completed
          - failed
          - canceled
          - agent_only
        usage_stats:
          description: Usage stats
          type: string
        connector:
          type: string
        original_type:
          type: string
        original_mtime:
          type: string
          format: datetime
        created_at:
          description: Time when document was created
          type: string
          format: date-time
        updated_at:
          description: Last time when document was modified
          type: string
          format: date-time
        uri:
          type: string
        summary:
          type: string
        summary_parameters:
          type: string
        metadata_dict:
          $ref: '#/components/schemas/Metadata'
        is_encrypted:
          description: Whether the document files are encrypted at rest
          type: boolean
          default: false
    Tag:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          example: 123e4567-e89b-12d3-a456-426655440000
        name:
          type: string
          example: marvel
        description:
          type: string
          example: Stories based on Marvel's comics.
        format:
          type: string
    TagCreateRequest:
      required:
      - name
      type: object
      properties:
        name:
          type: string
          example: marvel
  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unexpected:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Using an API key generated by H2OGPTe
