openapi: 3.2.0
info:
  title: h2oGPTe REST Jobs API
  description: '# Overview


    Users can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.'
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Jobs
paths:
  /jobs:
    get:
      operationId: list_jobs
      summary: Lists jobs associated with the user
      description: Lists jobs associated with the user making call.
      tags:
      - Jobs
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/JobDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /jobs/pending/count:
    get:
      operationId: count_pending_jobs
      summary: Counts the number of global, pending jobs on the server
      description: Counts the number of global, pending jobs on the server.
      tags:
      - Jobs
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountWithQueueDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /jobs/{job_id}:
    get:
      operationId: get_job
      summary: Lists jobs associated with the user
      description: Lists jobs associated with the user calling this endpoint.
      tags:
      - Jobs
      parameters:
      - name: job_id
        in: path
        description: Id of the job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_job
      summary: Deletes job
      description: Deletes job with a given unique identifier.
      tags:
      - Jobs
      parameters:
      - name: job_id
        in: path
        description: Id of the job
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /jobs/{job_id}/cancel:
    post:
      operationId: cancel_job
      summary: Stops a specific job from running for the user
      description: Stops a specific job from running for the user.
      tags:
      - Jobs
      parameters:
      - name: job_id
        in: path
        description: Id of the job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /user_jobs:
    get:
      operationId: list_user_jobs
      summary: Lists all jobs running on the system for all users
      description: Lists all jobs running on the system for all users (to be used by admins only).
      tags:
      - Jobs
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/UserJobDetails'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /user_jobs/{job_id}/cancel:
    post:
      operationId: cancel_user_job
      summary: Stops a specific job from running on the server
      description: As an admin, stops a specific user job from running on the server.
      tags:
      - Jobs
      parameters:
      - name: job_id
        in: path
        description: Id of the job
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                cancel_reason:
                  type: string
                  description: Optional reason for canceling the job.
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  schemas:
    Count:
      required:
      - count
      type: object
      properties:
        count:
          type: integer
    JobDetailsStatus:
      required:
      - id
      - status
      type: object
      properties:
        id:
          type: string
        status:
          type: string
    EndpointError:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
    UserJobDetails:
      type: object
      required:
      - username
      - user_id
      - jobs
      properties:
        username:
          type: string
        user_id:
          type: string
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/JobDetails'
    CountWithQueueDetails:
      allOf:
      - $ref: '#/components/schemas/Count'
      - type: object
        required:
        - queue_infos
        properties:
          queue_infos:
            type: array
            items:
              $ref: '#/components/schemas/QueueDetails'
    JobDetails:
      required:
      - id
      - name
      - overall_status
      - passed_percentage
      - failed_percentage
      - progress
      - created_at
      - updated_at
      - kind
      - statuses
      - errors
      - duration
      - duration_seconds
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        overall_status:
          type: string
          enum:
          - in progress
          - completed
          - failed
          - canceled
        status:
          type: string
        passed_percentage:
          type: number
          format: double
        failed_percentage:
          type: number
          format: double
        progress:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        kind:
          type: string
        statuses:
          type: array
          items:
            $ref: '#/components/schemas/JobDetailsStatus'
        errors:
          type: array
          items:
            type: string
        duration:
          type: string
        duration_seconds:
          type: number
          format: double
        canceled_by:
          type: string
        cancel_reason:
          type: string
        timeout:
          type: number
          format: double
        start_time:
          type: number
          format: double
    QueueDetails:
      required:
      - name
      - length
      properties:
        name:
          type: string
        length:
          type: integer
  responses:
    Unexpected:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Using an API key generated by H2OGPTe
