openapi: 3.2.0
info:
  title: h2oGPTe REST Shared Chats API
  description: '# Overview


    Users can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.'
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Shared Chats
paths:
  /shared_chats:
    post:
      operationId: share_chat_session
      summary: Share a chat session
      description: Creates a shared chat from an existing chat session. Returns a URL that can be used to access the shared chat.
      tags:
      - Shared Chats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareChatRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareChatResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
    get:
      operationId: list_shared_chats
      summary: List shared chats
      description: List shared chats created by the current user.
      tags:
      - Shared Chats
      parameters:
      - name: offset
        in: query
        description: How many shared chats to skip.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many shared chats to return.
        required: false
        schema:
          type: integer
      - name: name_filter
        in: query
        description: Filter shared chats by name (case-insensitive substring match).
        required: false
        schema:
          type: string
      - name: filter_type
        in: query
        description: Filter shared chats by type (all, private, public, frozen).
        required: false
        schema:
          type: string
          default: all
      - name: showcase_filter
        in: query
        description: Filter shared chats by Showcase membership (all, featured, not_featured).
        required: false
        schema:
          type: string
          default: all
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharedChatInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /shared_chats/{shared_chat_id}:
    get:
      operationId: get_shared_chat
      summary: Get a shared chat
      description: Get a shared chat by its ID. Public shared chats are accessible without authentication. Private shared chats require authentication.
      tags:
      - Shared Chats
      parameters:
      - name: shared_chat_id
        in: path
        description: ID of the shared chat.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SharedChatDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      operationId: update_shared_chat
      summary: Update a shared chat
      description: Update a shared chat's settings. Only the owner can update a shared chat.
      tags:
      - Shared Chats
      parameters:
      - name: shared_chat_id
        in: path
        description: ID of the shared chat to update.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSharedChatRequest'
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_shared_chat
      summary: Delete a shared chat
      description: Delete a single shared chat by its ID. Only the owner can delete a shared chat.
      tags:
      - Shared Chats
      parameters:
      - name: shared_chat_id
        in: path
        description: ID of the shared chat to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /shared_chats/batch_delete:
    post:
      operationId: delete_shared_chats
      summary: Batch delete shared chats
      description: Delete multiple shared chats by their IDs. Only the owner can delete shared chats.
      tags:
      - Shared Chats
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteSharedChatsRequest'
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  schemas:
    ShareChatRequest:
      type: object
      required:
      - chat_session_id
      properties:
        chat_session_id:
          type: string
          description: ID of the chat session to share.
        is_private:
          type: boolean
          default: false
          description: Whether the shared chat requires authentication to view.
        is_frozen:
          type: boolean
          default: true
          description: Whether to capture a snapshot of the chat at share time.
        includes_artifacts:
          type: boolean
          default: false
          description: Whether to include file artifacts in the shared chat.
    SharedChatDetail:
      type: object
      required:
      - is_frozen
      - is_private
      - includes_artifacts
      - messages
      properties:
        name:
          type: string
          description: Name of the shared chat.
        shared_at:
          type: string
          description: When the chat was shared.
        shared_by:
          type: string
          description: Username of the person who shared the chat.
        is_frozen:
          type: boolean
          description: Whether the shared chat is a frozen snapshot.
        is_private:
          type: boolean
          description: Whether the shared chat requires authentication.
        includes_artifacts:
          type: boolean
          description: Whether file artifacts are included.
        messages:
          type: array
          items:
            type: object
          description: Chat messages in the shared chat.
    SharedChatInfo:
      type: object
      required:
      - id
      - is_private
      - is_frozen
      - includes_artifacts
      - created_at
      properties:
        id:
          type: string
          description: Unique identifier of the shared chat.
        name:
          type: string
          description: Name of the shared chat.
        chat_session_id:
          type: string
          description: ID of the source chat session.
        is_private:
          type: boolean
          description: Whether the shared chat requires authentication.
        is_frozen:
          type: boolean
          description: Whether the shared chat is a frozen snapshot.
        includes_artifacts:
          type: boolean
          description: Whether file artifacts are included.
        created_at:
          type: string
          format: date-time
          description: When the shared chat was created.
        showcase_id:
          type: string
          description: 'When set, this shared chat is currently featured on the public

            Showcase page; this is the id of the matching showcase entry.

            '
    EndpointError:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
    ShareChatResponse:
      type: object
      required:
      - url
      - relative_path
      properties:
        url:
          type: string
          description: Full URL to access the shared chat.
        relative_path:
          type: string
          description: Relative path to the shared chat.
    DeleteSharedChatsRequest:
      type: object
      required:
      - shared_chat_ids
      properties:
        shared_chat_ids:
          type: array
          items:
            type: string
          description: List of shared chat IDs to delete.
    UpdateSharedChatRequest:
      type: object
      properties:
        is_private:
          type: boolean
          description: Whether the shared chat requires authentication.
        includes_artifacts:
          type: boolean
          description: Whether to include file artifacts.
  responses:
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unexpected:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Using an API key generated by H2OGPTe
