openapi: 3.2.0
info:
  title: h2oGPTe REST Secrets API
  description: '# Overview


    Users can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests from any programming language.'
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
security:
- bearerAuth: []
tags:
- name: Secrets
paths:
  /secrets/ids:
    get:
      operationId: list_secret_ids
      summary: Lists available secret IDs from SecureStore
      description: Lists available secret IDs from SecureStore for a specific connector type.
      tags:
      - Secrets
      parameters:
      - name: connector_type
        in: query
        description: Type of connector (s3, gcs, azure_key, azure_sas)
        required: false
        schema:
          type: string
          enum:
          - s3
          - gcs
          - azure_key
          - azure_sas
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
  /secrets/{secret_id}:
    get:
      operationId: get_secret
      summary: Get a secret by ID
      description: Retrieves a secret from SecureStore by its ID.
      tags:
      - Secrets
      parameters:
      - name: secret_id
        in: path
        required: true
        description: The ID of the secret to retrieve
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_secret
      summary: Update a secret
      description: Updates an existing secret in SecureStore.
      tags:
      - Secrets
      parameters:
      - name: secret_id
        in: path
        required: true
        description: The ID of the secret to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret_value:
                  type: object
                  additionalProperties: true
                  description: The secret data to update
              required:
              - secret_value
      responses:
        '200':
          description: Secret updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_secret
      summary: Delete a secret
      description: Deletes a secret from SecureStore by its ID.
      tags:
      - Secrets
      parameters:
      - name: secret_id
        in: path
        required: true
        description: The ID of the secret to delete
        schema:
          type: string
      responses:
        '200':
          description: Secret deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
  /secrets/{secret_id}/value:
    get:
      operationId: get_secret_value
      summary: Get the value of a secret by ID
      description: Retrieves the actual value/credentials of a secret from SecureStore by its ID.
      tags:
      - Secrets
      parameters:
      - name: secret_id
        in: path
        required: true
        description: The ID of the secret to retrieve the value for
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
                description: The secret value containing credentials and configuration
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
  /secrets:
    post:
      operationId: create_secret
      summary: Create a new secret
      description: Creates a new secret in SecureStore.
      tags:
      - Secrets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                secret_id:
                  type: string
                  description: The ID (name) of the secret
                secret_value:
                  type: object
                  additionalProperties: true
                  description: The secret data
                secret_type:
                  type: string
                  description: The type of the secret (e.g., s3, gcs, azure_blob)
                  enum:
                  - s3
                  - gcs
                  - azure_key
                  - azure_sas
              required:
              - secret_id
              - secret_value
      responses:
        '201':
          description: Secret created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: The ID of the created secret
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
components:
  responses:
    Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unexpected:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EndpointError'
  schemas:
    EndpointError:
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error message
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Using an API key generated by H2OGPTe
