openapi: 3.0.1
info:
  title: h2oGPTe REST API
  description: "\n# Overview \n\nUsers can easily interact with the h2oGPTe API through its REST API, allowing HTTP requests\
    \ from any programming language.\n\n## Authorization: Getting an API key\n\nSign up/in at Enterprise h2oGPTe and generate\
    \ one of the following two types of API keys: \n\n- **Global API key**: If a Collection is not specified when creating\
    \ a new API Key, that key is considered to be a global API Key. Use global API Keys to grant full user impersonation and\
    \ system-wide access to all of your work. Anyone with access to one of your global API Keys can create, delete, or interact\
    \ with any of your past, current, and future Collections, Documents, Chats, and settings.\n\n- **Collection-specific API\
    \ key**: Use Collection-specific API Keys to grant external access to only Chat with a specified Collection and make related\
    \ API calls to it. Collection-specific API keys do not allow other API calls, such as creation, deletion, or access to\
    \ other Collections or Chats.\n \nAccess Enterprise h2oGPTe through your [H2O Generative AI](https://genai.h2o.ai/appstore)\
    \ app store account, available with a freemium tier.\n\n## Authorization: Using an API key \n\nAll h2oGPTe REST API requests\
    \ must include an API Key in the \"Authorization\" HTTP header, formatted as follows:\n\n```\nAuthorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\n\
    ```\n\n```sh\ncurl -X 'POST' \\\n  'https://h2ogpte.genai.h2o.ai/api/v1/collections' \\\n  -H 'accept: application/json'\
    \ \\\n  -H 'Content-Type: application/json' \\\n  -H 'Authorization: Bearer sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'\
    \ \\\n  -d '{\n    \"name\": \"The name of my Collection\",\n    \"description\": \"The description of my Collection\"\
    ,\n    \"embedding_model\": \"BAAI/bge-large-en-v1.5\"\n  }'\n```\n    \n## Interactive h2oGPTe API testing\n\nThis page\
    \ only showcases the h2oGPTe REST API; you can test it directly in the [Swagger UI](https://h2ogpte.genai.h2o.ai/swagger-ui/).\
    \ Ensure that you are logged into your Enterprise h2oGPTe account.\n"
  version: v1.0.0
servers:
- url: https://h2ogpte.genai.h2o.ai/api/v1
tags:
- name: Collections
- name: Documents
- name: Document Ingestion
- name: Chat
- name: Prompt Templates
- name: Jobs
- name: Models
- name: Tags
- name: Permissions
- name: API Keys
- name: Secrets
- name: Agents
- name: System
- name: Extractors
- name: Memory Blocks
- name: Shared Chats
- name: AI Assistants
- name: Forums
- name: Scheduled Tasks
paths:
  /collections:
    post:
      operationId: create_collection
      summary: Create a Collection
      description: A Collection refers to a group of related Documents. A Collection lets a user aggregate documents in one
        location. A user can utilize Collections to group particular sets of material (documents) to explore individually
        through Chats utilizing a large language model (LLM).
      tags:
      - Collections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionCreateRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    get:
      operationId: list_collections
      summary: List collections.
      description: List collections for a given user. If sort_column is not specified, the output is sorted by by last update
        time in descending order.
      tags:
      - Collections
      parameters:
      - name: offset
        in: query
        description: How many collections to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many collections to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: sort_column
        in: query
        description: Sort column.
        required: false
        schema:
          type: string
          enum:
          - name
          - document_count
          - document_size
          - updated_at
          - sessions_count
          default: updated_at
      - name: ascending
        in: query
        description: When true, returns sorted by sort_column in ascending order.
        required: false
        schema:
          type: boolean
          default: false
      - name: metadata_filter
        in: query
        description: Only returns collections with metadata matching this filter.
        required: false
        schema:
          type: string
      - name: name_filter
        in: query
        description: Only returns collections with names matching this filter.
        required: false
        schema:
          type: string
      - name: current_user_only
        in: query
        description: When true, will only return the user owned collections.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/all:
    get:
      operationId: list_all_collections
      summary: Fetches all users' collection metadata sorted by last update time by default.
      description: Fetches all users' collection metadata sorted by last update time by default. This is for admin use only
        and includes private, public, and shared collections in the result.
      tags:
      - Collections
      parameters:
      - name: offset
        in: query
        description: How many collections to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many collections to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: sort_column
        in: query
        description: Sort column.
        required: false
        schema:
          type: string
          enum:
          - name
          - document_count
          - document_size
          - updated_at
          - sessions_count
          - username
          - expiry_date
          - status
          - inactivity_interval
          - archived_at
          default: updated_at
      - name: ascending
        in: query
        description: When true, returns sorted by sort_column in ascending order.
        required: false
        schema:
          type: boolean
          default: false
      - name: filter
        in: query
        description: Filter collections by name, ID, or username.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/count:
    get:
      operationId: get_collection_count
      summary: Counts a number of collections.
      description: Counts a number of collections.
      tags:
      - Collections
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}:
    get:
      tags:
      - Collections
      summary: Get a Collection
      description: A user can obtain a Collection by specifying its ID.
      operationId: get_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Deletes collection.
      description: Deletes collection with a given unique identifier.
      operationId: delete_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to delete
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      tags:
      - Collections
      summary: Updates attributes of an existing collection.
      description: Updates of an existing collection, particularly name and description.
      operationId: update_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to to be updated
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/{chunk_ids}:
    get:
      tags:
      - Collections
      summary: Returns specific chunks in a collection.
      description: Returns specific chunks in a collection.
      operationId: get_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to search in
        required: true
        schema:
          type: string
      - name: chunk_ids
        in: path
        description: List of ids for the chunks to return. Chunks are indexed starting at 1.
        required: true
        schema:
          type: array
          items:
            type: integer
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chunk'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/match:
    post:
      tags:
      - Collections
      summary: Finds chunks related to a message using semantic search.
      description: 'Finds chunks related to a message using semantic search.

        Chunks are sorted by relevance and similarity score to the message.

        '
      operationId: match_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of collection to search within.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - vectors
              - topics
              properties:
                vectors:
                  description: A list of vectorized message for running semantic search.
                  type: array
                  items:
                    type: array
                    items:
                      type: number
                      format: double
                topics:
                  description: A list of document_ids used to filter which documents in the collection to search.
                  type: array
                  items:
                    type: string
                offset:
                  description: How many chunks to skip before returning chunks.
                  type: integer
                  default: 0
                limit:
                  description: How many chunks to return.
                  type: integer
                  default: 100
                cut_off:
                  description: Exclude matches with distances higher than this cut off.
                  type: number
                  format: double
                  default: 0
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChunkSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chunks/search:
    post:
      tags:
      - Collections
      summary: Finds chunks related to a message using lexical search.
      description: 'Finds chunks related to a message using lexical search.

        Chunks are sorted by relevance and similarity score to the message.

        '
      operationId: search_collection_chunks
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to search within.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              - topics
              properties:
                query:
                  description: Question or imperative from the end user to search a collection for.
                  type: string
                topics:
                  description: A list of document_ids used to filter which documents in the collection to search.
                  type: array
                  items:
                    type: string
                offset:
                  description: How many chunks to skip before returning chunks.
                  type: integer
                  default: 0
                limit:
                  description: How many chunks to return.
                  type: integer
                  default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChunkSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/delete_job:
    post:
      tags:
      - Collections
      summary: Creates a job to delete collections.
      description: Creates a job to delete collections with a given unique identifier.
      operationId: create_delete_collection_job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteCollectionsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/reset_all_collection_expirations:
    post:
      operationId: reset_all_collection_expirations
      summary: Reset all collection expiry dates and inactivity intervals that have been set.
      description: Reset any expiry dates and inactivity intervals that have been set for all collections (admin only). This
        will also reset any archived collections back to active.
      tags:
      - Collections
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/topic_model:
    post:
      operationId: create_topic_model
      summary: Creates a topic model on the collection.
      description: Creates a topic model on the collection.
      tags:
      - Models
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_topic_model
      summary: Deletes the topic model from the collection.
      description: Deletes the topic model from the collection.
      tags:
      - Models
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/prompt_template:
    put:
      tags:
      - Collections
      summary: Updates a prompt template reference of a collection.
      description: Updates a prompt template reference of a collection.
      operationId: update_collection_prompt_template
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromptTemplateChangeRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes a prompt template reference from the collection.
      description: Removes a prompt template reference from the collection.
      operationId: delete_collection_prompt_template
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/expiry_date:
    put:
      tags:
      - Collections
      summary: Updates an expiry date of a collection.
      description: Updates an expiry date of a collection.
      operationId: update_collection_expiry_date
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - expiry_date
              properties:
                expiry_date:
                  description: The expiry date.
                  type: string
                  format: date
                timezone:
                  description: Optional timezone to associate with the expiry date (with IANA timezone support).
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes an expiry date from a collection.
      description: Removes an expiry date from a collection.
      operationId: delete_collection_expiry_date
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/inactivity_interval:
    put:
      tags:
      - Collections
      summary: Updates an inactivity interval of a collection.
      description: Updates an inactivity interval of a collection.
      operationId: update_collection_inactivity_interval
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - inactivity_interval
              properties:
                inactivity_interval:
                  description: The inactivity interval as an integer number of days.
                  type: integer
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes an inactivity interval from the collection.
      description: Removes an inactivity interval from the collection.
      operationId: delete_collection_inactivity_interval
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/workspace:
    put:
      tags:
      - Collections
      summary: Updates the workspace associated with a collection.
      description: Updates the workspace associated with a collection as well as the chats belonging to the collection.
      operationId: update_collection_workspace
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - workspace
              properties:
                workspace:
                  description: The name of the workspace to be associated with the collection.
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/archive:
    post:
      tags:
      - Collections
      summary: Archives a collection along with its associated data.
      description: Archives a collection along with its associated data.
      operationId: archive_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/unarchive:
    post:
      tags:
      - Collections
      summary: Restores an archived collection to an active status.
      description: Restores an archived collection to an active status.
      operationId: unarchive_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/size_limit:
    put:
      tags:
      - Collections
      summary: Sets a maximum limit on the total size of documents (sum) added to a collection.
      description: Sets a maximum limit on the total size of documents (sum) added to a collection. The limit is measured
        in bytes.
      operationId: set_collection_size_limit
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - size_limit
              properties:
                size_limit:
                  description: The bytes limit
                  example: 12345, 1GB, 1GiB
                  type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes a size limit for a collection.
      description: Removes a size limit for a collection.
      operationId: remove_collection_size_limit
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/is_public:
    post:
      tags:
      - Collections
      summary: Updates a flag specifying whether a collection is private or public.
      description: Updates a flag specifying whether a collection is private or public.
      operationId: update_collection_privacy
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - is_public
              properties:
                is_public:
                  description: A flag specifying whether a collection is private or public.
                  type: boolean
                permissions:
                  type: array
                  description: Collection specific permissions, only used if is_public is true.
                  items:
                    type: string
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/settings:
    get:
      operationId: get_collection_settings
      summary: Fetches collection settings.
      description: Returns details of collection settings
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with the settings
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_settings
      summary: Updates collection settings.
      description: Recreates entire settings on the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CollectionSettings'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/prompt_settings:
    delete:
      operationId: reset_collection_prompt_settings
      summary: Resets the prompt settings for a given collection.
      description: Resets the prompt settings for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/metadata:
    get:
      operationId: get_collection_metadata
      summary: Fetches collection metadata.
      description: Returns details of collection metadata.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with metadata.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_metadata
      summary: Updates collection metadata.
      description: Recreates entire metadata of the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/thumbnail:
    put:
      operationId: update_collection_thumbnail
      summary: Updates collection thumbnail.
      description: Uploads a new thumbnail image for the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_collection_thumbnail
      summary: Deletes collection thumbnail.
      description: Deletes collection thumbnail image.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/thumbnail/job:
    put:
      operationId: create_update_collection_thumbnail_job
      summary: Creates a job to update collection thumbnail.
      description: Creates a job to update a new thumbnail image for the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: create_delete_collection_thumbnail_job
      summary: Creates a job to delete collection thumbnail.
      description: Creates a job to delete collection thumbnail image.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chat_settings:
    get:
      operationId: get_collection_chat_settings
      summary: Fetches collection chat settings.
      description: Returns details of collection chat settings
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection associated with the chat settings
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSettings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_collection_chat_settings
      summary: Updates collection chat settings.
      description: Recreates entire chat settings on the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSettings'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents:
    get:
      operationId: list_documents_for_collection
      summary: List a Collection's documents
      description: A user can list a Collection's documents.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: This parameter refers to the unique identifier ( ID) of the Collection to filter results.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: This parameter refers to the number of documents to skip before retrieving results.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: This parameter refers to the maximum number of documents to return in the result set.
        required: false
        schema:
          type: integer
          default: 100
      - name: metadata_filter
        in: query
        description: String containing metadata json dict to filter documents by metadata.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/{document_id}:
    put:
      operationId: insert_document_into_collection
      summary: Import an already stored document to an existing collection.
      description: Import an already stored document to an existing collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      - name: document_id
        in: path
        description: Id of the document to be inserted.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      operationId: delete_document_from_collection
      summary: Removes the document from the collection.
      description: Removes the document from the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      - name: document_id
        in: path
        description: Id of the document to be removed.
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/insert_job:
    post:
      operationId: create_insert_document_to_collection_job
      summary: Creates job to insert document to the collection.
      description: Creates job to insert document to the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection where the document will be inserted into.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - document_id
              properties:
                document_id:
                  description: Id of the document to be inserted.
                  type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/delete_job:
    post:
      operationId: create_delete_document_from_collection_job
      summary: Creates job to remove documents from the collection.
      description: Creates job to remove documents from the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to remove the document from.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/documents/count:
    get:
      operationId: get_document_count_for_collection
      summary: Counts a number of documents in the collection.
      description: Counts a number of documents in the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chats:
    get:
      operationId: list_chat_sessions_for_collection
      summary: List chat sessions for a given collection.
      description: List chat sessions for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many chat sessions to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many chat sessions to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: username
        in: query
        description: Filter chat sessions by owner username.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/chats/count:
    get:
      operationId: get_chat_session_count_for_collection
      summary: Counts a number of chat sessions with the collection.
      description: Counts a number of chat sessions with the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/questions:
    get:
      operationId: list_questions_for_collection
      summary: List suggested questions for a given collection.
      description: List suggested questions for a given collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection to filter by.
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: How many questions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SuggestedQuestion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/permissions:
    get:
      tags:
      - Collections
      summary: Returns a list of access permissions for a given collection.
      description: The returned list of permissions denotes who has access to the collection.
      operationId: get_collection_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to all other users except the original owner.
      description: Removes sharing of a collection to all other users except the original owner.
      operationId: unshare_collection_for_all
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/group_permissions:
    get:
      tags:
      - Collections
      summary: Returns a list of group access permissions for a given collection.
      description: The returned list of group permissions denoting which groups have access to the collection.
      operationId: get_collection_group_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/public_permissions:
    get:
      tags:
      - Collections
      summary: Returns the public permissions for a given collection.
      description: Returns the list of public permissions for a collection. Returns an empty array if the collection is not
        public or has no permissions.
      operationId: list_collection_public_permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation. Returns list of permissions.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/permissions/is_granted:
    post:
      operationId: is_collection_permission_granted
      summary: Checks if collection permission is granted for a given user.
      description: Checks if collection permission is granted for a given user.
      tags:
      - Permissions
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionCheckRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: boolean
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/permissions/{username}:
    put:
      tags:
      - Collections
      summary: Shares a collection to a user.
      description: Shares a collection template to a user.
      operationId: share_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will obtain access to the collection
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCollectionRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to a user.
      description: Removes sharing of a collection to a user.
      operationId: unshare_collection
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will lose access to the collection
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/group_permissions/{group_id}:
    put:
      tags:
      - Collections
      summary: Shares a collection to a group.
      description: Shares a collection to a group. The permission attribute defines the level of access, and which group can
        access the collection, the collection_id attribute denotes the collection to be shared.
      operationId: share_collection_with_group
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will obtain access to the collection.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareCollectionRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Collections
      summary: Removes sharing of a collection to a user.
      description: Removes sharing of a collection to a user.
      operationId: unshare_collection_from_group
      parameters:
      - name: collection_id
        in: path
        description: Id of the collection.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will lose access to the collection.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/import_collection_job:
    post:
      operationId: create_import_collection_to_collection_job
      summary: Creates job to import collection to the collection.
      description: Creates job to import collection to the collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the destination collection.
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/MigrateScheduledConnectors'
      - $ref: '#/components/parameters/CopyLifecycleSettings'
      - $ref: '#/components/parameters/SkipReparse'
      - $ref: '#/components/parameters/CopyDocument'
      - $ref: '#/components/parameters/PreserveDocumentStatus'
      - $ref: '#/components/parameters/PreserveMetadata'
      - $ref: '#/components/parameters/IngestionParameterGenDocSummaries'
      - $ref: '#/components/parameters/IngestionParameterGenDocQuestions'
      - $ref: '#/components/parameters/IngestionParameterOcrModel'
      - $ref: '#/components/parameters/IngestionParameterTesseractLang'
      - $ref: '#/components/parameters/IngestionParameterKeepTablesAsOneChunk'
      - $ref: '#/components/parameters/IngestionParameterChunkByPage'
      - $ref: '#/components/parameters/IngestionParameterHandwritingCheck'
      - $ref: '#/components/parameters/IngestionParameterIngestMode'
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - source_collection_id
              properties:
                source_collection_id:
                  description: Id of the collection to be inserted.
                  type: string
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/scheduled_connectors:
    get:
      operationId: list_scheduled_connectors_for_collection
      summary: List scheduled connectors for a collection
      description: Returns a list of all scheduled connectors configured for the specified collection.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: Collection ID to list scheduled connectors for
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledConnectorDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/migrate_scheduled_connectors:
    post:
      operationId: migrate_scheduled_connectors_to_collection
      summary: Migrate scheduled connectors from another collection
      description: Moves all scheduled connectors from a source collection to the target collection. The source collection
        will have no scheduled connectors after this operation. Both collections must be owned by the same user.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        required: true
        description: Target collection ID where scheduled connectors will be copied to
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - src_collection_id
              properties:
                src_collection_id:
                  type: string
                  description: Source collection ID to copy scheduled connectors from
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        default:
          $ref: '#/components/responses/Unexpected'
  /collections/{collection_id}/migrate_chat_sessions_job:
    post:
      operationId: create_migrate_collection_chat_sessions_job
      summary: Creates a job to migrate all chat sessions from one collection to another.
      description: Creates a job to migrate all chat sessions from the source collection (specified in path) to the destination
        collection (specified in request body). Only the collection owner can perform this operation.
      tags:
      - Collections
      parameters:
      - name: collection_id
        in: path
        description: Id of the source collection (where chat sessions will be migrated from).
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/Timeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateCollectionChatSessionsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /extractors/{extractor_id}/permissions:
    get:
      tags:
      - Extractors
      summary: Returns a list of users having access to given extractor.
      description: The returned list of permissions denotes who has access to the extractor.
      operationId: get_extractor_permissions
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      tags:
      - Extractors
      summary: Resets and shares an extractor to a new list of users.
      description: Resets and shares an extractor to a new list of users.
      operationId: reset_and_share_extractor
      parameters:
      - name: extractor_id
        in: path
        description: Id of an extractor.
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: List of usernames the extractor should be shared with.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetAndShareRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Extractors
      summary: Removes sharing of an extractor to all other users except the original owner.
      description: Removes sharing of an extractor to all other users except the original owner.
      operationId: unshare_extractor_for_all
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /extractors/{extractor_id}/group_permissions:
    get:
      tags:
      - Extractors
      summary: Returns a list of group access permissions for a given extractor.
      description: The returned list of group permissions denoting which groups have access to the extractor.
      operationId: get_extractor_group_permissions
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GroupSharePermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      tags:
      - Extractors
      summary: Resets and shares an extractor to a new list of groups.
      description: Resets and shares an extractor to a new list of groups.
      operationId: reset_and_share_extractor_with_groups
      parameters:
      - name: extractor_id
        in: path
        description: Id of an extractor
        required: true
        schema:
          type: string
      requestBody:
        required: true
        description: List of group ids the extractor should be shared with.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetAndShareWithGroupsRequest'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /extractors/{extractor_id}/is_public:
    post:
      tags:
      - Extractors
      summary: Updates a flag specifying whether an extractor is private or public.
      description: Updates a flag specifying whether an extractor is private or public.
      operationId: update_extractor_privacy
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - is_public
              properties:
                is_public:
                  description: A flag specifying whether a extractor is private or public.
                  type: boolean
        required: true
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /extractors/{extractor_id}/permissions/{username}:
    put:
      tags:
      - Extractors
      summary: Shares an extractor to a user.
      description: Shares an extractor to a user.
      operationId: share_extractor
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will obtain access to the extractor
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Extractors
      summary: Removes sharing of an extractor to a user.
      description: Removes sharing of an extractor to a user.
      operationId: unshare_extractor
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      - name: username
        in: path
        description: User name that will lose access to the extractor
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /extractors/{extractor_id}/group_permissions/{group_id}:
    put:
      tags:
      - Extractors
      summary: Shares an extractor to a group.
      description: Shares an extractor to a group. The extractor_id attribute denotes the extractor to be shared.
      operationId: share_extractor_with_group
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will obtain access to the extractor.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Extractors
      summary: Removes sharing of an extractor from a group.
      description: Removes sharing of an extractor from a group.
      operationId: unshare_extractor_from_group
      parameters:
      - name: extractor_id
        in: path
        description: Id of the extractor.
        required: true
        schema:
          type: string
      - name: group_id
        in: path
        description: Id of a group that will lose access to the extractor.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents:
    get:
      operationId: list_documents
      summary: List documents.
      description: List documents for a given user. If sort_column is not specified, the output is sorted by by last update
        time in descending order.
      tags:
      - Documents
      parameters:
      - name: offset
        in: query
        description: How many documents to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many documents to return.
        required: false
        schema:
          type: integer
          default: 100
      - name: sort_column
        in: query
        description: Sort column.
        required: false
        schema:
          type: string
          enum:
          - name
          - username
          - type
          - size
          - page_count
          - connector
          - uri
          - original_type
          - original_mtime
          - status
          - updated_at
          default: updated_at
      - name: ascending
        in: query
        description: When true, returns sorted by sort_column in ascending order.
        required: false
        schema:
          type: boolean
          default: false
      - name: with_summaries
        in: query
        description: When true, returns also summary and summary_parameter with other common attributes of the document.
        required: false
        schema:
          type: boolean
          default: false
      - name: metadata_filter
        in: query
        description: String containing metadata json dict to filter collections by metadata.
        required: false
        schema:
          type: string
      - name: username
        in: query
        description: Filter documents by the username of the uploader (exact match).
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: 'Filter documents by ingestion status (exact match). Values: unknown, scheduled, queued, running, completed,
          failed, canceled, agent_only.'
        required: false
        schema:
          type: string
      - name: source
        in: query
        description: Filter documents by connector source (case-insensitive match, e.g. SharePoint, url, upload, Agent).
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/count:
    get:
      operationId: get_document_count
      summary: Counts a number of documents.
      description: Counts a number of documents the user has access to. If owned parameter is enabled, it counts only the
        documents owned by the user.
      tags:
      - Documents
      parameters:
      - name: owned
        in: query
        description: If true, it counts only the documents owned by the user.
        required: false
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}:
    get:
      tags:
      - Documents
      summary: Finds a document by id.
      description: Returns a single document by its unique identifier.
      operationId: get_document
      parameters:
      - name: document_id
        in: path
        description: Id of document to return
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    delete:
      tags:
      - Documents
      summary: Deletes a document.
      description: Deletes a document with a given unique identifier.
      operationId: delete_document
      parameters:
      - name: document_id
        in: path
        description: Id of document to delete
        required: true
        schema:
          type: string
      - name: timeout
        in: query
        description: Timeout in seconds
        schema:
          type: number
          format: double
          default: 300
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
    patch:
      tags:
      - Documents
      summary: Updates attributes of an existing document.
      description: Updates attributes of an existing document, particularly name and uri.
      operationId: update_document
      parameters:
      - name: document_id
        in: path
        description: Id of document to to be updated
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DocumentUpdateRequest'
        required: true
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/chunks:
    get:
      tags:
      - Documents
      summary: Returns all chunks for a specific document.
      description: Returns all chunks for a specific document.
      operationId: list_document_chunks
      parameters:
      - name: document_id
        in: path
        description: Id of the document.
        required: true
        schema:
          type: string
      - name: collection_id
        in: query
        description: Id of the collection the document belongs to.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChunkSearchResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/process_job:
    post:
      tags:
      - Documents
      summary: Creates job to process document.
      description: 'Processes a document to either create a global or piecewise summary/extraction/transformation of a document.

        '
      operationId: create_process_document_job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessDocumentJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/delete_job:
    post:
      tags:
      - Documents
      summary: Creates job to delete documents.
      description: Creates job to delete documents with a given unique identifier.
      operationId: create_delete_document_job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsJobRequest'
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobDetails'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/collections:
    get:
      tags:
      - Documents
      summary: Lists collections for containing a given document.
      description: Lists collections for containing a given document.
      operationId: list_collections_for_document
      parameters:
      - name: document_id
        in: path
        description: Id of the document.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many collections to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many collections to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Collection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/tags:
    post:
      tags:
      - Documents
      summary: Assigns a tag to the document.
      description: Assigns a tag to the document.
      operationId: create_tag_on_document
      parameters:
      - name: document_id
        in: path
        description: Id of the document to to be associated with a tag
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagCreateRequest'
        required: true
      responses:
        '201':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tag'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/tags/{tag_name}:
    delete:
      tags:
      - Documents
      summary: Removes a tag from a document.
      description: Removes a tag from a document.
      operationId: delete_tag_from_document
      parameters:
      - name: document_id
        in: path
        description: Id of the document to remove the tag from
        required: true
        schema:
          type: string
      - name: tag_name
        in: path
        description: Name of the tag to be removed.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                - tag_id
                properties:
                  tag_id:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/chats:
    get:
      operationId: list_chat_sessions_for_document
      summary: List chat sessions for a given document.
      description: List chat sessions for a given document.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document to filter by.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many chat sessions to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many chat sessions to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/chats/count:
    get:
      operationId: get_chat_session_count_for_document
      summary: Counts a number of chat sessions with the document.
      description: Counts a number of chat sessions with the document.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document to filter by.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Count'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/summaries:
    get:
      operationId: list_document_summaries
      summary: Fetches recent document summaries/extractions/transformations
      description: Fetches recent document summaries/extractions/transformations
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document to filter by.
        required: true
        schema:
          type: string
      - name: offset
        in: query
        description: How many summaries to skip before returning.
        required: false
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: How many summaries to return.
        required: false
        schema:
          type: integer
          default: 100
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/summaries/{summary_ids}:
    delete:
      operationId: delete_document_summaries
      summary: Deletes document summaries.
      description: Deletes document summaries.
      tags:
      - Documents
      parameters:
      - name: summary_ids
        in: path
        description: List of string ids of a document summary to delete from the system.
        required: true
        schema:
          type: array
          items:
            type: string
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/metadata:
    get:
      operationId: get_document_metadata
      summary: Fetches document metadata.
      description: Returns details of document metadata
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document associated with the metadata
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
    put:
      operationId: update_document_metadata
      summary: Updates document metadata.
      description: Recreates entire metadata of the document.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Metadata'
      responses:
        '204':
          description: Successful operation
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/user_source_file:
    get:
      operationId: get_document_user_source_file
      summary: Fetches document user source file.
      description: Returns document user source file.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation with data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dictionary'
        '204':
          description: Successful operation with no result
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/page_ocr_model:
    get:
      operationId: get_document_page_ocr_model
      summary: Fetches document page ocr model.
      description: Returns document page ocr model.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation with data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dictionary'
        '204':
          description: Successful operation with no result
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/page_layout:
    get:
      operationId: get_document_page_layout
      summary: Fetches document page layout.
      description: Returns document page layout.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation with data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dictionary'
        '204':
          description: Successful operation with no result
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/internal_metadata:
    get:
      operationId: get_document_internal_metadata
      summary: Fetches document internal metadata.
      description: Returns document internal metadata.
      tags:
      - Documents
      parameters:
      - name: document_id
        in: path
        description: Id of the document
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful operation with data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dictionary'
        '204':
          description: Successful operation with no result
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        default:
          $ref: '#/components/responses/Unexpected'
  /documents/{document_id}/guardrails_settings:
    get:
      operationId: get_document_guardrails_settings
      summary: Fetches document guardrails settings.
[...]
